@charset "IBM866";
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*screen-out*/
/* line 4, ../scss/inner.scss */
.wrap {
  position: relative;
}
/* line 6, ../scss/inner.scss */
.wrap .footer {
  position: absolute;
  bottom: 0;
}

/* line 11, ../scss/inner.scss */
.container_screen {
  height: 900px;
}

/* line 14, ../scss/inner.scss */
.feet {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -280px;
  width: 560px;
  height: 323px;
  background: url(../img/feet.png) no-repeat 0 0;
}

/* line 23, ../scss/inner.scss */
.screen-out {
  position: absolute;
  top: 164px;
  left: 223px;
  width: 757px;
  height: 518px;
  background: url(../img/screen-out.png) no-repeat 0 0;
}

/*codes*/
/* line 32, ../scss/inner.scss */
.codes {
  position: absolute;
  top: 235px;
  left: 30px;
  width: 104px;
  padding: 20px 20px 15px 20px;
  background: #253d67;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
}

/* line 42, ../scss/inner.scss */
.codes__top {
  padding-bottom: 10px;
  border-bottom: 1px solid #4e6283;
}
/* line 45, ../scss/inner.scss */
.codes__top i, .codes__top span {
  display: block;
}
/* line 48, ../scss/inner.scss */
.codes__top i {
  margin-bottom: 5px;
  font-style: normal;
  font-size: 10px;
}
/* line 53, ../scss/inner.scss */
.codes__top span {
  font-size: 16px;
  line-height: 1.3;
}

/* line 58, ../scss/inner.scss */
.codes__history {
  position: relative;
  padding: 11px 0 8px 22px;
}
/* line 61, ../scss/inner.scss */
.codes__history a {
  color: #fff;
  line-height: 1.3;
}
/* line 65, ../scss/inner.scss */
.codes__history i {
  position: absolute;
  top: 13px;
  left: 1px;
  background: url('../img/icons-sda54945c23.png') 0 -376px no-repeat;
  width: 16px;
  height: 18px;
}

/* line 72, ../scss/inner.scss */
.codes__scroll {
  width: 112px;
  height: 122px;
  overflow: auto;
}
/* line 76, ../scss/inner.scss */
.codes__scroll ul {
  width: 90px;
  padding-left: 4px;
}
/* line 80, ../scss/inner.scss */
.codes__scroll li {
  padding-bottom: 15px;
}
/* line 83, ../scss/inner.scss */
.codes__scroll b {
  font-size: 11px;
  color: #ffe400;
}
/* line 87, ../scss/inner.scss */
.codes__scroll span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 92, ../scss/inner.scss */
.codes__scroll b, .codes__scroll span {
  display: block;
  margin-bottom: 2px;
}

/*photo-group*/
/* line 98, ../scss/inner.scss */
.photo-group {
  position: absolute;
  top: 515px;
  left: 30px;
  background: url('../img/icons-sda54945c23.png') 0 0 no-repeat;
  width: 150px;
  height: 175px;
}

/*rate*/
/* line 105, ../scss/inner.scss */
.rate {
  position: absolute;
  right: 10px;
  bottom: 218px;
  width: 155px;
  padding: 20px 15px 30px 15px;
  background: #355493;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 113, ../scss/inner.scss */
.rate .h1 {
  margin-bottom: 10px;
}
/* line 116, ../scss/inner.scss */
.rate ul {
  margin-bottom: 15px;
}
/* line 119, ../scss/inner.scss */
.rate li {
  height: 22px;
  border-top: 1px solid #5372b1;
  line-height: 22px;
  overflow: hidden;
  color: #fff;
}
/* line 125, ../scss/inner.scss */
.rate li span {
  float: left;
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 132, ../scss/inner.scss */
.rate li b {
  float: right;
  font-weight: normal;
}

/* line 138, ../scss/inner.scss */
.rate__result {
  margin-bottom: 7px;
  font-size: 11px;
  color: #ffc600;
  font-weight: bold;
  text-align: center;
}

/*scroll*/
/* line 147, ../scss/inner.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 152, ../scss/inner.scss */
.jspPane {
  position: absolute;
}

/* line 156, ../scss/inner.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 100%;
}

/* line 164, ../scss/inner.scss */
.jspCap {
  display: none;
}

/* line 168, ../scss/inner.scss */
.jspTrack {
  width: 3px;
  right: -4px;
  background: #103067;
  position: relative;
}

/* line 175, ../scss/inner.scss */
.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: -4px;
  cursor: pointer;
  background: url('../img/icons-sda54945c23.png') 0 -355px no-repeat;
  width: 11px;
  height: 11px;
}

/* line 184, ../scss/inner.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

/* line 191, ../scss/inner.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 196, ../scss/inner.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 200, ../scss/inner.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 204, ../scss/inner.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 212, ../scss/inner.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
