@charset "IBM866";
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*screen-out*/
/* line 4, ../scss/inner.scss */
.wrap_inner {
  position: relative;
  background: url(../img/bg1.jpg) no-repeat 50% -10px #001856;
}
/* line 7, ../scss/inner.scss */
.wrap_inner .container_screen {
  height: 910px;
}
/* line 10, ../scss/inner.scss */
.wrap_inner .footer {
  position: absolute;
  bottom: 0;
}

/* line 15, ../scss/inner.scss */
.paper-inner {
  position: absolute;
  top: -10;
  left: -120px;
  width: 360px;
  height: 340px;
  background: url(../img/paper-inner.png) no-repeat 0 0;
  z-index: 10;
}

/* line 24, ../scss/inner.scss */
.container_screen {
  width: auto;
  margin: 0 100px;
}
@media only screen and (max-width: 1200px) {
  /* line 24, ../scss/inner.scss */
  .container_screen {
    width: 996px;
    margin: 0 auto;
  }
}

/* line 32, ../scss/inner.scss */
.feet {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -280px;
  width: 560px;
  height: 323px;
  background: url(../img/feet.png) no-repeat 0 0;
  z-index: 40;
}

/* line 42, ../scss/inner.scss */
.screen {
  position: absolute;
  top: 106px;
  left: 50%;
  margin-left: -435px;
  width: 890px;
  height: 620px;
}

/* line 50, ../scss/inner.scss */
.screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 890px;
  height: 620px;
  background: url(../img/screen-out.png) no-repeat 0 0;
  z-index: 10;
}

/* line 59, ../scss/inner.scss */
.screen__speed {
  position: absolute;
  bottom: 95px;
  left: 105px;
  width: 125px;
  height: 125px;
  background: url(../img/speed-s.png) no-repeat 0 0;
  z-index: 10;
}
/* line 67, ../scss/inner.scss */
.screen__speed i {
  position: absolute;
  top: 8px;
  left: 60px;
  background: url('../img/icons-s872b03ebd8.png') 0 -355px no-repeat;
  width: 4px;
  height: 54px;
}

/* line 74, ../scss/inner.scss */
.screen__road {
  position: absolute;
  left: 65px;
  right: 78px;
  bottom: 65px;
  height: 145px;
  background: url(../img/road-s.jpg);
}

/* line 82, ../scss/inner.scss */
.screen__curb {
  position: absolute;
  left: 65px;
  right: 78px;
  bottom: 210px;
  height: 52px;
  background: url(../img/curb-s.png);
}

/* line 90, ../scss/inner.scss */
.screen__car {
  position: absolute;
  bottom: 155px;
  left: 280px;
  width: 325px;
  height: 80px;
  background: url(../img/car-s.png) no-repeat 0 0;
  z-index: 20;
}
/* line 98, ../scss/inner.scss */
.screen__car span {
  position: absolute;
  bottom: 4px;
  width: 52px;
  height: 52px;
  background: url(../img/wheel-s.png) no-repeat 0 0;
}

/* line 106, ../scss/inner.scss */
.screen__wheel-l {
  left: 26px;
}

/* line 107, ../scss/inner.scss */
.screen__wheel-r {
  right: 51px;
}

/* line 108, ../scss/inner.scss */
.data-bg {
  position: absolute;
  top: 55px;
  left: 70px;
  width: 240px;
  height: 170px;
  background: url(../img/screen-courner.png) no-repeat 0 0;
}

/* line 116, ../scss/inner.scss */
.data {
  position: absolute;
  top: 55px;
  left: 70px;
  width: 210px;
  height: 150px;
  padding: 20px 0 0 30px;
  z-index: 20;
}
/* line 124, ../scss/inner.scss */
.data li {
  margin-bottom: 2px;
}
/* line 127, ../scss/inner.scss */
.data a {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}

/* line 133, ../scss/inner.scss */
.data__name {
  margin-bottom: 5px;
  font-size: 19px;
  color: #6ab0ff;
}

/* line 138, ../scss/inner.scss */
.data__result {
  color: #fff;
}
/* line 140, ../scss/inner.scss */
.data__result b {
  margin-right: 5px;
  font-size: 14px;
}
/* line 144, ../scss/inner.scss */
.data__result span {
  font-size: 10px;
}

/* line 148, ../scss/inner.scss */
.data__place {
  font-size: 14px;
  color: #fff;
}
/* line 151, ../scss/inner.scss */
.data__place span {
  margin-right: 5px;
}

/* line 155, ../scss/inner.scss */
.data__map {
  position: relative;
  margin-top: 15px;
  width: 170px;
  height: 32px;
  background: url(../img/map.png) no-repeat 0 0;
}

/* line 162, ../scss/inner.scss */
.data__road {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 150px;
  height: 20px;
  background: url(../img/road.png) no-repeat 0 0;
  overflow: hidden;
}
/* line 170, ../scss/inner.scss */
.data__road i {
  position: absolute;
  top: 4px;
  left: 64px;
  background: url('../img/icons-s872b03ebd8.png') 0 -446px no-repeat;
  width: 18px;
  height: 15px;
}

/*codes*/
/* line 178, ../scss/inner.scss */
.codes {
  position: absolute;
  top: 235px;
  left: -70px;
  width: 104px;
  padding: 20px 20px 15px 20px;
  background: #375996;
  color: #fff;
}

/* line 187, ../scss/inner.scss */
.codes__top {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #5d78aa;
}
/* line 190, ../scss/inner.scss */
.codes__top span {
  display: block;
  margin-bottom: 5px;
  font-size: 11px;
}
/* line 195, ../scss/inner.scss */
.codes__top b {
  font-size: 12px;
  color: #f2242e;
}
/* line 199, ../scss/inner.scss */
.codes__top strong {
  font-size: 12px;
  color: #81c1ff;
}

/* line 204, ../scss/inner.scss */
.codes__history {
  position: relative;
  padding: 11px 0 8px 22px;
}
/* line 207, ../scss/inner.scss */
.codes__history a {
  color: #fff;
  line-height: 1.3;
}
/* line 211, ../scss/inner.scss */
.codes__history i {
  position: absolute;
  top: 13px;
  left: 1px;
  background: url('../img/icons-s872b03ebd8.png') 0 -471px no-repeat;
  width: 16px;
  height: 18px;
}

/* line 218, ../scss/inner.scss */
.codes__scroll {
  width: 112px;
  height: 122px;
  overflow: auto;
}
/* line 222, ../scss/inner.scss */
.codes__scroll ul {
  width: 90px;
  padding-left: 4px;
}
/* line 226, ../scss/inner.scss */
.codes__scroll li {
  padding-bottom: 15px;
}
/* line 229, ../scss/inner.scss */
.codes__scroll b {
  font-size: 11px;
  color: #f2242e;
}
/* line 233, ../scss/inner.scss */
.codes__scroll span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 238, ../scss/inner.scss */
.codes__scroll b, .codes__scroll span {
  display: block;
  margin-bottom: 2px;
}

/*photo-group*/
/* line 244, ../scss/inner.scss */
.photo-group {
  position: absolute;
  top: 500px;
  left: -70px;
  background: url('../img/icons-s872b03ebd8.png') 0 0 no-repeat;
  width: 150px;
  height: 175px;
}

/*rate*/
/* line 251, ../scss/inner.scss */
.rate {
  position: absolute;
  right: -90px;
  bottom: 280px;
  width: 155px;
  padding: 20px 15px 30px 15px;
  background: #375996;
}
/* line 258, ../scss/inner.scss */
.rate .h1 {
  margin-bottom: 10px;
}
/* line 261, ../scss/inner.scss */
.rate ul {
  margin-bottom: 15px;
}
/* line 264, ../scss/inner.scss */
.rate li {
  height: 22px;
  border-top: 1px solid #5372b1;
  line-height: 22px;
  overflow: hidden;
  color: #fff;
}
/* line 270, ../scss/inner.scss */
.rate li span {
  float: left;
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7cbaff;
}
/* line 278, ../scss/inner.scss */
.rate li b {
  float: right;
  font-weight: normal;
}

/* line 284, ../scss/inner.scss */
.rate__result-title {
  margin-bottom: 7px;
  font-size: 11px;
  color: #e73355;
  font-weight: bold;
  text-align: center;
}

/* line 291, ../scss/inner.scss */
.rate__result {
  margin: 0 -15px 15px -15px;
  height: 29px;
  line-height: 29px;
  background: #60779f;
  text-align: center;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
}
/* line 300, ../scss/inner.scss */
.rate__result a {
  margin-left: 5px;
  color: #fff;
}
/* line 304, ../scss/inner.scss */
.rate__result span {
  margin-left: 5px;
  color: #173f7a;
}

/* line 309, ../scss/inner.scss */
.rate__search {
  padding-left: 12px;
  margin-right: -20px;
  overflow: hidden;
}
/* line 313, ../scss/inner.scss */
.rate__search .h2 {
  margin-bottom: 5px;
}
/* line 316, ../scss/inner.scss */
.rate__search input {
  float: left;
}

/* line 320, ../scss/inner.scss */
.rate__search-txt {
  width: 114px;
  height: 21px;
  margin-right: 5px;
  padding-left: 5px;
  line-height: 21px;
  border-left: 1px solid #545454;
  border-top: 1px solid #7f7f7f;
}

/* line 329, ../scss/inner.scss */
.rate__search-btn {
  width: 22px;
  height: 22px;
  border: 2px solid #0c2b7a;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 8px;
  color: #003AB5;
  text-align: center;
  cursor: pointer;
}

/*scroll*/
/* line 342, ../scss/inner.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 347, ../scss/inner.scss */
.jspPane {
  position: absolute;
}

/* line 351, ../scss/inner.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 100%;
}

/* line 359, ../scss/inner.scss */
.jspCap {
  display: none;
}

/* line 363, ../scss/inner.scss */
.jspTrack {
  width: 3px;
  right: -4px;
  background: #103067;
  position: relative;
}

/* line 370, ../scss/inner.scss */
.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: -4px;
  cursor: pointer;
  background: url('../img/icons-s872b03ebd8.png') 0 -499px no-repeat;
  width: 11px;
  height: 11px;
}

/* line 379, ../scss/inner.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

/* line 386, ../scss/inner.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 391, ../scss/inner.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 395, ../scss/inner.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 399, ../scss/inner.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 407, ../scss/inner.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
