@charset "IBM866";
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*popup*/
/* line 4, ../scss/popup.scss */
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 100;
}

/* line 15, ../scss/popup.scss */
.popup {
  position: fixed;
  top: 130px;
  left: 50%;
  width: 550px;
  padding: 12px;
  margin-left: -287px;
  background: url(../img/nav-bg.jpg);
  z-index: 150;
}

/* line 25, ../scss/popup.scss */
.popup__inner {
  padding: 30px;
  background: #f5f5f5;
}
/* line 28, ../scss/popup.scss */
.popup__inner p {
  margin-bottom: 10px;
  font-size: 13px;
  color: #4e4e4e;
  line-height: 1.2;
}

/* line 35, ../scss/popup.scss */
.popup__title {
  position: relative;
  height: 80px;
  padding-left: 25px;
  background: #001556;
  font: normal 30px/80px "Conv_Mbr-Kraftwerk-RU", Arial, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
/* line 43, ../scss/popup.scss */
.popup__title button {
  position: absolute;
  top: 6px;
  right: 4px;
  background: url('../img/icons-s6b4009cfc6.png') 0 -290px no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* line 50, ../scss/popup.scss */
.popup__title i {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjUpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

/* line 59, ../scss/popup.scss */
.popup__fields {
  overflow: hidden;
}
/* line 61, ../scss/popup.scss */
.popup__fields span {
  float: left;
  width: 65px;
  height: 36px;
  padding-left: 5px;
  line-height: 28px;
  font-size: 14px;
  color: #010101;
}
/* line 70, ../scss/popup.scss */
.popup__fields sup {
  margin-left: 3px;
  color: #ff0000;
}
/* line 74, ../scss/popup.scss */
.popup__fields input {
  float: left;
}

/* line 78, ../scss/popup.scss */
.popup__att {
  font-size: 10px;
  color: #8595c6;
}

/* line 82, ../scss/popup.scss */
.input-text {
  width: 254px;
  height: 34px;
  margin-right: 15px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #c7c7c5;
}

/* line 90, ../scss/popup.scss */
.input-submit {
  width: 117px;
  height: 36px;
  background: #fff;
  border: 2px solid #6f96de;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #1147b7;
  cursor: pointer;
}

/* line 102, ../scss/popup.scss */
.input-submit_gray {
  width: 77px;
  color: #868299;
  border: 2px solid #a6a6a6;
}

/* line 109, ../scss/popup.scss */
.popup_friends .popup__fields {
  margin-bottom: 30px;
}

/* line 114, ../scss/popup.scss */
.popup_stop-race .popup__fields, .popup_photo-add .popup__fields {
  margin: 20px 0 0 0;
}
/* line 117, ../scss/popup.scss */
.popup_stop-race .input-submit, .popup_photo-add .input-submit {
  float: right;
  margin-left: 17px;
}

/* line 123, ../scss/popup.scss */
.fuel li {
  margin-top: 30px;
}
/* line 125, ../scss/popup.scss */
.fuel li:first-child {
  margin-top: 0px;
}
/* line 129, ../scss/popup.scss */
.fuel p {
  padding-top: 6px;
  margin: 6px 0 0 0;
  border-top: 1px dashed #b2b2b2;
  font-size: 12px;
  color: #010101;
}

/* line 138, ../scss/popup.scss */
.popup_accel .popup__inner {
  padding: 10px 0 10px 24px;
}

/* line 144, ../scss/popup.scss */
.accel .jspTrack {
  width: 7px;
  right: 5px;
  background: #ddd;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 152, ../scss/popup.scss */
.accel .jspDrag {
  position: relative;
  top: 0;
  left: -2px;
  cursor: pointer;
  background: url('../img/icons-s6b4009cfc6.png') 0 -418px no-repeat;
  width: 11px;
  height: 31px;
}
/* line 160, ../scss/popup.scss */
.accel .jspVerticalBar {
  width: 7px;
}

/* line 164, ../scss/popup.scss */
.accel__table {
  width: 520px;
  height: 335px;
  overflow: auto;
}

/* line 169, ../scss/popup.scss */
.accel__item {
  overflow: hidden;
}
/* line 172, ../scss/popup.scss */
.accel__item:first-child .accel__name, .accel__item:first-child .accel__count, .accel__item:first-child .accel__days {
  border-top: none;
}

/* line 177, ../scss/popup.scss */
.accel__name, .accel__count, .accel__days {
  float: left;
  height: 37px;
  line-height: 37px;
  border-top: 1px dashed #b1b1b1;
}

/* line 183, ../scss/popup.scss */
.accel__name {
  width: 218px;
  border-right: 1px solid #d9d9d9;
  font-size: 14px;
  color: #010101;
}

/* line 189, ../scss/popup.scss */
.accel__count {
  position: relative;
  padding-left: 14px;
  width: 143px;
  border-right: 1px solid #d9d9d9;
  font-size: 12px;
  color: #6f6f72;
}
/* line 196, ../scss/popup.scss */
.accel__count span {
  margin-right: 5px;
  color: #010101;
}
/* line 200, ../scss/popup.scss */
.accel__count i {
  position: absolute;
  top: 11px;
  left: 116px;
}

/* line 206, ../scss/popup.scss */
.accel__full {
  background: url('../img/icons-s6b4009cfc6.png') 0 -624px no-repeat;
  width: 28px;
  height: 15px;
  z-index: 10;
}

/* line 210, ../scss/popup.scss */
.accel__empty {
  background: url('../img/icons-s6b4009cfc6.png') 0 -672px no-repeat;
  width: 28px;
  height: 15px;
}

/* line 213, ../scss/popup.scss */
.accel__days {
  width: 100px;
  padding-left: 13px;
  font-size: 12px;
  color: #6f6f72;
}

/* line 219, ../scss/popup.scss */
.accel__top {
  overflow: hidden;
}
/* line 221, ../scss/popup.scss */
.accel__top .accel__name, .accel__top .accel__count, .accel__top .accel__days {
  font-size: 11px;
  color: #656565;
  text-transform: uppercase;
  border-bottom: 1px solid #b8b8b8;
  border-top: none;
}
/* line 228, ../scss/popup.scss */
.accel__top .accel__name, .accel__top .accel__count {
  position: relative;
}
/* line 230, ../scss/popup.scss */
.accel__top .accel__name em, .accel__top .accel__count em {
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 25px;
  background: #f5f5f5;
}

/* line 241, ../scss/popup.scss */
.tasks {
  padding: 70px 0 45px 0;
  background: url(../img/gallery.png) no-repeat 0 0;
}

/* line 245, ../scss/popup.scss */
.tasks__item {
  position: relative;
  float: left;
  margin-right: 90px;
  color: #375996;
}
/* line 250, ../scss/popup.scss */
.tasks__item b {
  position: relative;
  font: normal 20px 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
}
/* line 254, ../scss/popup.scss */
.tasks__item em {
  position: absolute;
  top: -14px;
  right: -26px;
  font: normal 40px 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-style: normal;
}
/* line 261, ../scss/popup.scss */
.tasks__item i {
  display: none;
  position: absolute;
  top: 16px;
  left: 16px;
  background: url('../img/icons-s6b4009cfc6.png') 0 -185px no-repeat;
  width: 59px;
  height: 19px;
}
/* line 268, ../scss/popup.scss */
.tasks__item a {
  display: none;
  position: absolute;
  top: 30px;
  left: -5px;
  width: 100px;
  height: 20px;
  background: #fff;
  border: 2px solid #193569;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #183046;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
/* line 283, ../scss/popup.scss */
.tasks__item span {
  display: none;
  position: absolute;
  top: 28px;
  left: 21px;
}

/* line 291, ../scss/popup.scss */
.tasks__item-done i {
  display: block;
}

/* line 296, ../scss/popup.scss */
.tasks__item-add a {
  display: block;
}

/* line 300, ../scss/popup.scss */
.tasks__item-noact {
  color: #727272;
}
/* line 302, ../scss/popup.scss */
.tasks__item-noact span {
  display: block;
}

/* line 307, ../scss/popup.scss */
.gallery-popup {
  position: fixed;
  top: 130px;
  left: 50%;
  width: 740px;
  margin-left: -370px;
  z-index: 150;
}

/* line 315, ../scss/popup.scss */
.gallery {
  height: 345px;
  overflow: auto;
}
/* line 318, ../scss/popup.scss */
.gallery ul {
  overflow: hidden;
}
/* line 321, ../scss/popup.scss */
.gallery li {
  position: relative;
  float: left;
  width: 152px;
  height: 155px;
  margin: 5px 18px 18px 5px;
  background: url(../img/photo.jpg) no-repeat 0 0;
}
/* line 329, ../scss/popup.scss */
.gallery .gallery__rejected {
  margin: 0 13px 13px 0;
  border: 5px solid #e8023d;
}
/* line 332, ../scss/popup.scss */
.gallery .gallery__rejected span {
  color: #e8023d;
}
/* line 336, ../scss/popup.scss */
.gallery .gallery__approved {
  margin: 0 13px 13px 0;
  border: 5px solid #0d5ea6;
}
/* line 339, ../scss/popup.scss */
.gallery .gallery__approved span {
  color: #0d5ea6;
}
/* line 343, ../scss/popup.scss */
.gallery img {
  position: absolute;
  left: 10px;
}
/* line 347, ../scss/popup.scss */
.gallery span {
  position: absolute;
  top: 124px;
  left: 50px;
  width: 94px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 360, ../scss/popup.scss */
.gallery .jspTrack {
  width: 7px;
  right: 5px;
  background: #ddd;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 368, ../scss/popup.scss */
.gallery .jspDrag {
  position: relative;
  top: 0;
  left: -2px;
  cursor: pointer;
  background: url('../img/icons-s6b4009cfc6.png') 0 -418px no-repeat;
  width: 11px;
  height: 31px;
}
/* line 376, ../scss/popup.scss */
.gallery .jspVerticalBar {
  width: 7px;
}

/* line 380, ../scss/popup.scss */
.gallery__user {
  top: 111px;
  z-index: 10;
}

/* line 384, ../scss/popup.scss */
.gallery__photo {
  top: 11px;
}

/* line 387, ../scss/popup.scss */
.gallery__view {
  margin-top: 20px;
  padding-right: 50px;
  text-align: center;
}
/* line 391, ../scss/popup.scss */
.gallery__view a {
  display: inline-block;
  margin: 0 10px;
  font-size: 11px;
  color: #686868;
}
/* line 396, ../scss/popup.scss */
.gallery__view a.active {
  color: #141414;
  text-decoration: none;
}

/* line 402, ../scss/popup.scss */
.gallery-close {
  position: fixed;
  top: 100px;
  right: 60px;
  width: 116px;
  height: 16px;
  background: url(../img/close.png) no-repeat 0 0;
  cursor: pointer;
  z-index: 150;
}
