@charset "IBM866";
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*resets*/
/* line 4, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../scss/common.scss */
body {
  font-family: Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 1;
  background: url(../img/bg.jpg) no-repeat 50% 0 #001856;
}

/* line 14, ../scss/common.scss */
a img, fieldset {
  border: none;
}

/* line 17, ../scss/common.scss */
li {
  list-style: none;
}

/* line 20, ../scss/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 24, ../scss/common.scss */
.h1 {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 18px;
  color: #fff;
}

/* line 29, ../scss/common.scss */
.body_inner {
  background: url(../img/bg1.jpg) no-repeat 50% 0 #001856;
}

/* line 32, ../scss/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/*general styles*/
/* line 39, ../scss/common.scss */
.container {
  position: relative;
  max-width: 1200px;
  min-width: 996px;
  margin: 0 auto;
}

/*nav*/
/* line 46, ../scss/common.scss */
.nav {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -180px;
  padding: 10px 20px;
  background: #3c5dab;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 54, ../scss/common.scss */
.nav li {
  float: left;
}
/* line 57, ../scss/common.scss */
.nav a {
  font-size: 10px;
  color: #fff;
}
/* line 60, ../scss/common.scss */
.nav a:hover {
  color: #fffc1b;
}
/* line 64, ../scss/common.scss */
.nav span {
  margin: 0 15px;
  color: #8498c8;
}

/*footer*/
/* line 70, ../scss/common.scss */
.footer {
  position: relative;
  width: 100%;
  height: 100px;
  background: #001856;
}
/* line 75, ../scss/common.scss */
.footer ul {
  margin-left: 118px;
  height: 20px;
  line-height: 20px;
}
/* line 80, ../scss/common.scss */
.footer li {
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}
/* line 86, ../scss/common.scss */
.footer a {
  color: #fff;
}
/* line 89, ../scss/common.scss */
.footer span {
  margin: 0 5px;
}

/* line 93, ../scss/common.scss */
.footer__title {
  border-bottom: 3px solid #d2d2d2;
  background: #fff;
  text-align: center;
}

@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*layouts*/
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*main*/
/* line 4, ../scss/main.scss */
.main {
  position: relative;
  height: 542px;
  z-index: 30;
}

/*paper*/
/* line 10, ../scss/main.scss */
.paper {
  position: absolute;
  top: 0;
  left: 30px;
  width: 256px;
  height: 205px;
  background: url(../img/paper.png) no-repeat 0 0;
}
/* line 17, ../scss/main.scss */
.paper a {
  position: absolute;
  right: 12px;
  bottom: 32px;
  width: 110px;
  height: 20px;
}

/*tank*/
/* line 26, ../scss/main.scss */
.tank {
  position: absolute;
  top: 170px;
  right: 40px;
  width: 101px;
  height: 386px;
  background: url(../img/tank.png) no-repeat 0 0;
}

/* line 34, ../scss/main.scss */
.tank__code {
  position: absolute;
  bottom: 29px;
  left: 32px;
  color: #fff;
}
/* line 39, ../scss/main.scss */
.tank__code li {
  line-height: 1.3;
}
/* line 42, ../scss/main.scss */
.tank__code span {
  color: #3de9e8;
}
/* line 45, ../scss/main.scss */
.tank__code .tank__code-last {
  margin-left: 7px;
}
/* line 47, ../scss/main.scss */
.tank__code .tank__code-last span {
  color: #f1d59f;
}

/* line 52, ../scss/main.scss */
.tank__circle {
  position: absolute;
  right: 21px;
  bottom: 18px;
  font-size: 14px;
  color: #ff6c00;
  font-weight: bold;
}

/* line 60, ../scss/main.scss */
.tank__boost {
  position: absolute;
  bottom: -65px;
  right: 7px;
  color: #fff;
  text-align: right;
}
/* line 66, ../scss/main.scss */
.tank__boost b {
  position: relative;
  padding-right: 45px;
  font-size: 28px;
}
/* line 70, ../scss/main.scss */
.tank__boost b i {
  position: absolute;
  top: 5px;
  right: 0;
  background: url('../img/icons-sda54945c23.png') 0 -185px no-repeat;
  width: 42px;
  height: 24px;
}
/* line 77, ../scss/main.scss */
.tank__boost a {
  color: #fff;
}
/* line 80, ../scss/main.scss */
.tank__boost p {
  line-height: 1.3;
}

/* line 84, ../scss/main.scss */
.tank__full, .tank__use {
  position: absolute;
  bottom: 88px;
  right: 19px;
  width: 65px;
  height: 277px;
}

/* line 91, ../scss/main.scss */
.tank__full {
  background: url(../img/tank-full.png) no-repeat 0 100%;
}

/* line 94, ../scss/main.scss */
.tank__use {
  background: url(../img/tank-use.png) no-repeat 0 100%;
}

/* line 97, ../scss/main.scss */
.tank-fill {
  position: absolute;
  top: 370px;
  left: 50%;
  width: 130px;
  height: 120px;
  margin-left: -60px;
  background: url(../img/tank-fill.png) no-repeat 0 0;
}
/* line 105, ../scss/main.scss */
.tank-fill input {
  position: absolute;
  top: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  text-align: center;
}
/* line 112, ../scss/main.scss */
.tank-fill .tank-fill__code {
  left: 15px;
  width: 74px;
  height: 19px;
  line-height: 19px;
  font-size: 9px;
  color: #abbee7;
}
/* line 120, ../scss/main.scss */
.tank-fill .tank-fill__btn {
  right: 16px;
  width: 19px;
  height: 19px;
  border: 2px solid #0b1c70;
  font-size: 7px;
  color: #003ab5;
  cursor: pointer;
}

/*road*/
/* line 131, ../scss/main.scss */
.road {
  position: relative;
}
/* line 133, ../scss/main.scss */
.road .container {
  position: relative;
  height: 256px;
  z-index: 10;
}

/* line 139, ../scss/main.scss */
.curb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: url(../img/curb.jpg);
}

/* line 147, ../scss/main.scss */
.asphalt {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 176px;
  background: url(../img/road.jpg);
}

/*stop*/
/* line 156, ../scss/main.scss */
.stop {
  position: absolute;
  top: 65px;
  right: 50px;
  background: #37517b;
  padding: 12px 20px 12px 58px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px #2a3d60;
}
/* line 168, ../scss/main.scss */
.stop i {
  position: absolute;
  top: 5px;
  left: 10px;
  background: url('../img/icons-sda54945c23.png') 0 -219px no-repeat;
  width: 34px;
  height: 32px;
}

/*speed*/
/* line 176, ../scss/main.scss */
.speed {
  position: absolute;
  left: 78px;
  bottom: 0;
  width: 189px;
  height: 50px;
  padding-top: 190px;
  background: url(../img/speed.png) no-repeat 0 0;
}
/* line 184, ../scss/main.scss */
.speed li {
  padding-top: 3px;
  overflow: hidden;
}
/* line 188, ../scss/main.scss */
.speed b {
  float: left;
  width: 75px;
  margin-right: 10px;
  font-size: 14px;
  text-align: right;
}

/* line 197, ../scss/main.scss */
.speed__result b {
  color: #25b8ee;
}
/* line 200, ../scss/main.scss */
.speed__result span {
  font-size: 10px;
  color: #fefefe;
}

/* line 206, ../scss/main.scss */
.speed__point b {
  color: #e51f69;
}
/* line 209, ../scss/main.scss */
.speed__point span {
  font-size: 13px;
  font-weight: bold;
  color: #d3ebf2;
}

/* line 215, ../scss/main.scss */
.arr {
  position: absolute;
  top: 13px;
  left: 90px;
  background: url('../img/icons-sda54945c23.png') 0 -261px no-repeat;
  width: 7px;
  height: 84px;
}

/*cars default*/
/* line 222, ../scss/main.scss */
.car {
  position: absolute;
  top: 37px;
  left: 355px;
  width: 505px;
  height: 135px;
}

/* line 229, ../scss/main.scss */
.car__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 505px;
  height: 115px;
  z-index: 10;
}
/* line 236, ../scss/main.scss */
.car__body i {
  position: absolute;
  bottom: -5px;
  width: 79px;
  height: 79px;
}

/* line 243, ../scss/main.scss */
.car__shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 505px;
  height: 40px;
  background: url(../img/car-shadow.png) no-repeat 0 0;
  z-index: 5;
}

/*car start*/
/* line 254, ../scss/main.scss */
.car_start .car__body {
  background: url(../img/car.png) no-repeat 0 0;
}
/* line 257, ../scss/main.scss */
.car_start .car__wheel-left {
  left: 45px;
  background: url(../img/wheel-l.png) no-repeat 0 0;
}
/* line 261, ../scss/main.scss */
.car_start .car__wheel-right {
  right: 80px;
  background: url(../img/wheel-r.png) no-repeat 0 0;
}

/*car run*/
/* line 268, ../scss/main.scss */
.car_run .car__body {
  top: 1px;
  background: url(../img/car-run.png) no-repeat 0 0;
}
/* line 271, ../scss/main.scss */
.car_run .car__body i {
  bottom: -4px;
}
/* line 275, ../scss/main.scss */
.car_run .car__wheel-left {
  left: 45px;
  background: url(../img/wheel-l-r.png) no-repeat 0 0;
}
/* line 279, ../scss/main.scss */
.car_run .car__wheel-right {
  right: 86px;
  background: url(../img/wheel-r-r.png) no-repeat 0 0;
}

/*car split*/
/* line 286, ../scss/main.scss */
.car_run-split .car__wheel-left {
  left: 43px;
}
/* line 289, ../scss/main.scss */
.car_run-split .car__wheel-right {
  right: 87px;
}

/*car save*/
/* line 295, ../scss/main.scss */
.car_save .car__body {
  top: 1px;
  background: url(../img/car-save.png) no-repeat 0 0;
}
/* line 298, ../scss/main.scss */
.car_save .car__body i {
  bottom: -3px;
}
/* line 302, ../scss/main.scss */
.car_save .car__wheel-left {
  left: 45px;
  background: url(../img/wheel-l-s.png) no-repeat 0 0;
}
/* line 306, ../scss/main.scss */
.car_save .car__wheel-right {
  right: 80px;
  background: url(../img/wheel-r-s.png) no-repeat 0 0;
}

@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*screen-out*/
/* line 4, ../scss/inner.scss */
.wrap {
  position: relative;
}
/* line 6, ../scss/inner.scss */
.wrap .footer {
  position: absolute;
  bottom: 0;
}

/* line 11, ../scss/inner.scss */
.container_screen {
  height: 900px;
}

/* line 14, ../scss/inner.scss */
.feet {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -280px;
  width: 560px;
  height: 323px;
  background: url(../img/feet.png) no-repeat 0 0;
}

/* line 23, ../scss/inner.scss */
.screen-out {
  position: absolute;
  top: 164px;
  left: 223px;
  width: 757px;
  height: 518px;
  background: url(../img/screen-out.png) no-repeat 0 0;
}

/*codes*/
/* line 32, ../scss/inner.scss */
.codes {
  position: absolute;
  top: 235px;
  left: 30px;
  width: 104px;
  padding: 20px 20px 15px 20px;
  background: #253d67;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
}

/* line 42, ../scss/inner.scss */
.codes__top {
  padding-bottom: 10px;
  border-bottom: 1px solid #4e6283;
}
/* line 45, ../scss/inner.scss */
.codes__top i, .codes__top span {
  display: block;
}
/* line 48, ../scss/inner.scss */
.codes__top i {
  margin-bottom: 5px;
  font-style: normal;
  font-size: 10px;
}
/* line 53, ../scss/inner.scss */
.codes__top span {
  font-size: 16px;
  line-height: 1.3;
}

/* line 58, ../scss/inner.scss */
.codes__history {
  position: relative;
  padding: 11px 0 8px 22px;
}
/* line 61, ../scss/inner.scss */
.codes__history a {
  color: #fff;
  line-height: 1.3;
}
/* line 65, ../scss/inner.scss */
.codes__history i {
  position: absolute;
  top: 13px;
  left: 1px;
  background: url('../img/icons-sda54945c23.png') 0 -376px no-repeat;
  width: 16px;
  height: 18px;
}

/* line 72, ../scss/inner.scss */
.codes__scroll {
  width: 112px;
  height: 122px;
  overflow: auto;
}
/* line 76, ../scss/inner.scss */
.codes__scroll ul {
  width: 90px;
  padding-left: 4px;
}
/* line 80, ../scss/inner.scss */
.codes__scroll li {
  padding-bottom: 15px;
}
/* line 83, ../scss/inner.scss */
.codes__scroll b {
  font-size: 11px;
  color: #ffe400;
}
/* line 87, ../scss/inner.scss */
.codes__scroll span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 92, ../scss/inner.scss */
.codes__scroll b, .codes__scroll span {
  display: block;
  margin-bottom: 2px;
}

/*photo-group*/
/* line 98, ../scss/inner.scss */
.photo-group {
  position: absolute;
  top: 515px;
  left: 30px;
  background: url('../img/icons-sda54945c23.png') 0 0 no-repeat;
  width: 150px;
  height: 175px;
}

/*rate*/
/* line 105, ../scss/inner.scss */
.rate {
  position: absolute;
  right: 10px;
  bottom: 218px;
  width: 155px;
  padding: 20px 15px 30px 15px;
  background: #355493;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 113, ../scss/inner.scss */
.rate .h1 {
  margin-bottom: 10px;
}
/* line 116, ../scss/inner.scss */
.rate ul {
  margin-bottom: 15px;
}
/* line 119, ../scss/inner.scss */
.rate li {
  height: 22px;
  border-top: 1px solid #5372b1;
  line-height: 22px;
  overflow: hidden;
  color: #fff;
}
/* line 125, ../scss/inner.scss */
.rate li span {
  float: left;
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 132, ../scss/inner.scss */
.rate li b {
  float: right;
  font-weight: normal;
}

/* line 138, ../scss/inner.scss */
.rate__result {
  margin-bottom: 7px;
  font-size: 11px;
  color: #ffc600;
  font-weight: bold;
  text-align: center;
}

/*scroll*/
/* line 147, ../scss/inner.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 152, ../scss/inner.scss */
.jspPane {
  position: absolute;
}

/* line 156, ../scss/inner.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 100%;
}

/* line 164, ../scss/inner.scss */
.jspCap {
  display: none;
}

/* line 168, ../scss/inner.scss */
.jspTrack {
  width: 3px;
  right: -4px;
  background: #103067;
  position: relative;
}

/* line 175, ../scss/inner.scss */
.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: -4px;
  cursor: pointer;
  background: url('../img/icons-sda54945c23.png') 0 -355px no-repeat;
  width: 11px;
  height: 11px;
}

/* line 184, ../scss/inner.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

/* line 191, ../scss/inner.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 196, ../scss/inner.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 200, ../scss/inner.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 204, ../scss/inner.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 212, ../scss/inner.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
