@charset "IBM866";
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*resets*/
/* line 4, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../scss/common.scss */
body {
  background: #001856;
  font-family: Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 1;
}

/* line 14, ../scss/common.scss */
a img, fieldset {
  border: none;
}

/* line 17, ../scss/common.scss */
li {
  list-style: none;
}

/* line 20, ../scss/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 24, ../scss/common.scss */
.h1 {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 18px;
  color: #fff;
}

/* line 29, ../scss/common.scss */
.h2 {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

/* line 34, ../scss/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/*general styles*/
/* line 41, ../scss/common.scss */
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 996px;
  min-height: 768px;
  background: url(../img/bg-1.jpg) no-repeat 50% 0 #001856;
  overflow: hidden;
}

/*nav*/
/* line 53, ../scss/common.scss */
.nav {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -175px;
  padding: 12px 14px;
  border: 2px solid #5c89b5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: url(../img/nav-bg.jpg) no-repeat 0 0;
}
/* line 62, ../scss/common.scss */
.nav li {
  float: left;
}
/* line 65, ../scss/common.scss */
.nav a {
  font-size: 10px;
  color: #fff;
}
/* line 68, ../scss/common.scss */
.nav a:hover {
  color: #fffc1b;
}
/* line 72, ../scss/common.scss */
.nav span {
  margin: 0 15px;
  color: #fff;
}

/*footer*/
/* line 78, ../scss/common.scss */
.footer {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #001856;
  z-index: 500;
}
/* line 86, ../scss/common.scss */
.footer ul {
  position: absolute;
  top: 82px;
  left: 50%;
  margin-left: -480px;
  height: 20px;
  line-height: 20px;
}
/* line 94, ../scss/common.scss */
.footer li {
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}
/* line 100, ../scss/common.scss */
.footer a {
  color: #fff;
}
/* line 103, ../scss/common.scss */
.footer span {
  margin: 0 5px;
}

/* line 107, ../scss/common.scss */
.footer__title {
  border-bottom: 3px solid #d2d2d2;
  background: #fff;
  text-align: center;
}

@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*layouts*/
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*main*/
/* line 4, ../scss/main.scss */
.main {
  position: relative;
  height: 542px;
  z-index: 30;
}

/*paper*/
/* line 10, ../scss/main.scss */
.paper {
  position: absolute;
  top: -70px;
  left: -90px;
  width: 395px;
  height: 285px;
  background: url(../img/paper.png) no-repeat 0 0;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: 20;
}
/* line 23, ../scss/main.scss */
.paper a {
  position: absolute;
  right: 175px;
  bottom: 20px;
  width: 100px;
  height: 20px;
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 12px;
  color: #ed1c24;
}

/* line 34, ../scss/main.scss */
.paper__map {
  position: absolute;
  top: 206px;
  left: 121px;
  width: 200px;
  height: 30px;
  overflow: hidden;
}

/* line 42, ../scss/main.scss */
.paper__way {
  position: absolute;
  top: 0;
  left: 5px;
  width: 190px;
  height: 30px;
  background: url(../img/way.png) no-repeat 0 0;
  z-index: 5;
}

/* line 51, ../scss/main.scss */
.paper__racer {
  position: absolute;
  top: 12px;
  left: 80px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -1045px no-repeat;
  width: 23px;
  height: 17px;
  z-index: 10;
}

/*tank*/
/* line 59, ../scss/main.scss */
.tank {
  position: absolute;
  bottom: 240px;
  right: 30px;
  width: 98px;
  height: 410px;
  background: url(../img/tank.png) no-repeat 0 0;
  z-index: 10;
}

/* line 68, ../scss/main.scss */
.tank__code {
  position: absolute;
  bottom: 19px;
  left: 14px;
  color: #000;
  font-size: 10px;
}
/* line 74, ../scss/main.scss */
.tank__code li {
  line-height: 1.3;
}
/* line 77, ../scss/main.scss */
.tank__code b {
  font-size: 12px;
  color: #ff0000;
}
/* line 82, ../scss/main.scss */
.tank__code .tank__code-last b {
  color: #6ab0ff;
}

/* line 87, ../scss/main.scss */
.tank__circle {
  position: absolute;
  right: 20px;
  bottom: 18px;
  font-size: 14px;
  color: #ff0000;
  font-weight: bold;
}

/* line 95, ../scss/main.scss */
.tank__boost {
  position: absolute;
  bottom: 5px;
  left: -130px;
  color: #fff;
  text-align: right;
}
/* line 101, ../scss/main.scss */
.tank__boost b {
  font-size: 28px;
}
/* line 104, ../scss/main.scss */
.tank__boost span {
  position: relative;
  padding-left: 16px;
  text-decoration: underline;
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  color: #fff;
}
/* line 111, ../scss/main.scss */
.tank__boost i {
  position: absolute;
  top: 13px;
  left: 4px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -1171px no-repeat;
  width: 7px;
  height: 13px;
}
/* line 117, ../scss/main.scss */
.tank__boost a {
  color: #fff;
}
/* line 120, ../scss/main.scss */
.tank__boost p {
  line-height: 1.3;
}

/* line 124, ../scss/main.scss */
.tank__full, .tank__use {
  position: absolute;
  bottom: 86px;
  right: 15px;
  width: 65px;
  height: 314px;
}

/* line 131, ../scss/main.scss */
.tank__full {
  background: url(../img/tank-full.png) no-repeat 0 100%;
}

/* line 134, ../scss/main.scss */
.tank__use {
  background: url(../img/tank-use.png) no-repeat 0 100%;
}

/* line 137, ../scss/main.scss */
.tank-fill, .boost {
  position: absolute;
  left: 50%;
  width: 140px;
  margin-left: -70px;
}
/* line 142, ../scss/main.scss */
.tank-fill input, .boost input {
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  text-align: center;
}
/* line 148, ../scss/main.scss */
.tank-fill .tank-fill__code, .tank-fill .boost__code, .boost .tank-fill__code, .boost .boost__code {
  left: 21px;
  width: 74px;
  height: 19px;
  line-height: 19px;
  font-size: 9px;
  color: #abbee7;
}
/* line 156, ../scss/main.scss */
.tank-fill .tank-fill__btn, .tank-fill .boost__btn, .boost .tank-fill__btn, .boost .boost__btn {
  right: 18px;
  width: 19px;
  height: 19px;
  border: 2px solid #6f96de;
  color: #003ab5;
  font-size: 7px;
  cursor: pointer;
}

/* line 166, ../scss/main.scss */
.tank-fill {
  bottom: 450px;
  height: 75px;
  background: url(../img/tank-fill.png) no-repeat 0 0;
}
/* line 170, ../scss/main.scss */
.tank-fill input {
  top: 32px;
}

/* line 174, ../scss/main.scss */
.boost {
  top: 245px;
  height: 85px;
  background: url(../img/boost.png) no-repeat 0 0;
  z-index: 20;
}
/* line 179, ../scss/main.scss */
.boost input {
  top: 42px;
}

/*road*/
/* line 184, ../scss/main.scss */
.road {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 256px;
}

/* line 191, ../scss/main.scss */
.curb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: url(../img/curb.jpg);
}

/* line 199, ../scss/main.scss */
.asphalt {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 176px;
  background: url(../img/road.jpg);
}

/* line 207, ../scss/main.scss */
.task {
  position: absolute;
  bottom: 103px;
  right: 0;
  width: 480px;
  height: 90px;
  background: url(../img/task.png) no-repeat 0 0;
}
/* line 214, ../scss/main.scss */
.task a {
  position: absolute;
  width: 90px;
  height: 105px;
  padding: 5px;
  background: #fff;
  border: 1px solid #787878;
  text-decoration: none;
  color: #3a3a3a;
}
/* line 224, ../scss/main.scss */
.task img {
  margin-bottom: 5px;
  border: 1px solid #787878;
}
/* line 228, ../scss/main.scss */
.task span {
  color: #203698;
}
/* line 231, ../scss/main.scss */
.task .task__1 {
  bottom: -2px;
  left: 170px;
}
/* line 235, ../scss/main.scss */
.task .task__2 {
  bottom: -4px;
  left: 265px;
}
/* line 239, ../scss/main.scss */
.task .task__3 {
  bottom: -6px;
  left: 360px;
}

/* line 244, ../scss/main.scss */
.task_inner {
  bottom: 75px;
  right: 80px;
  width: 299px;
  height: 67px;
  background: url(../img/task-s.png) no-repeat 0 0;
  font-size: 5px;
  z-index: 10;
}
/* line 252, ../scss/main.scss */
.task_inner a {
  position: absolute;
  width: 57px;
  height: 68px;
  padding: 4px;
  border: 1px solid #787878;
  text-decoration: none;
  color: #3a3a3a;
}
/* line 261, ../scss/main.scss */
.task_inner img {
  margin-bottom: 5px;
  border: 1px solid #787878;
}
/* line 265, ../scss/main.scss */
.task_inner span {
  color: #203698;
}
/* line 268, ../scss/main.scss */
.task_inner .task__1 {
  bottom: 20px;
  left: 100px;
}
/* line 272, ../scss/main.scss */
.task_inner .task__2 {
  bottom: 15px;
  left: 160px;
}
/* line 276, ../scss/main.scss */
.task_inner .task__3 {
  bottom: 10px;
  left: 220px;
}

/*stop*/
/* line 282, ../scss/main.scss */
.stop {
  position: absolute;
  top: 40px;
  right: 40px;
  background: url(../img/stop-bg.jpg);
  border: 2px solid #5c89b5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 12px 58px 12px 20px;
  text-transform: uppercase;
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  text-shadow: 0 1px 1px #2a3d60;
}
/* line 296, ../scss/main.scss */
.stop i {
  position: absolute;
  top: 5px;
  right: 10px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -574px no-repeat;
  width: 34px;
  height: 32px;
}

/*speed*/
/* line 304, ../scss/main.scss */
.speed {
  position: absolute;
  left: 30px;
  bottom: 90px;
  width: 189px;
  height: 60px;
  padding-top: 190px;
  background: url(../img/speed.png) no-repeat 0 0;
  z-index: 10;
}
/* line 313, ../scss/main.scss */
.speed li {
  overflow: hidden;
}
/* line 316, ../scss/main.scss */
.speed b {
  float: left;
  width: 75px;
  margin-right: 10px;
  font-size: 14px;
  text-align: right;
}

/* line 324, ../scss/main.scss */
.speed__result {
  padding-top: 4px;
}
/* line 326, ../scss/main.scss */
.speed__result b {
  padding-top: 2px;
  color: #6ab0ff;
}
/* line 330, ../scss/main.scss */
.speed__result span {
  font-size: 10px;
  color: #fff;
}

/* line 335, ../scss/main.scss */
.speed__point {
  padding-top: 5px;
}
/* line 337, ../scss/main.scss */
.speed__point b {
  color: #6ab0ff;
}
/* line 340, ../scss/main.scss */
.speed__point span {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

/* line 346, ../scss/main.scss */
.arr {
  position: absolute;
  top: 13px;
  left: 90px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -821px no-repeat;
  width: 6px;
  height: 84px;
}

/*cars default*/
/* line 353, ../scss/main.scss */
.car {
  position: absolute;
  bottom: 220px;
  left: 50%;
  margin-left: -270px;
  width: 505px;
  height: 135px;
}

/* line 361, ../scss/main.scss */
.car__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 505px;
  height: 115px;
  z-index: 10;
}
/* line 368, ../scss/main.scss */
.car__body i {
  position: absolute;
  bottom: -5px;
  width: 79px;
  height: 79px;
}

/* line 375, ../scss/main.scss */
.car__shadow {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 505px;
  height: 40px;
  background: url(../img/car-shadow.png) no-repeat 0 0;
  z-index: 5;
}

/*car start*/
/* line 386, ../scss/main.scss */
.car_start .car__body {
  background: url(../img/car-new.png) no-repeat 0 0;
}
/* line 389, ../scss/main.scss */
.car_start .car__wheel-left {
  left: 43px;
  background: url(../img/wheel-new.png) no-repeat 0 0;
}
/* line 393, ../scss/main.scss */
.car_start .car__wheel-right {
  right: 82px;
  background: url(../img/wheel-new.png) no-repeat 0 0;
}

/*car run*/
/* line 400, ../scss/main.scss */
.car_run .car__body {
  top: 1px;
  background: url(../img/car-run.png) no-repeat 0 0;
}
/* line 403, ../scss/main.scss */
.car_run .car__body i {
  bottom: -4px;
}
/* line 407, ../scss/main.scss */
.car_run .car__wheel-left {
  left: 45px;
  background: url(../img/wheel-l-r.png) no-repeat 0 0;
}
/* line 411, ../scss/main.scss */
.car_run .car__wheel-right {
  right: 86px;
  background: url(../img/wheel-r-r.png) no-repeat 0 0;
}

/*car split*/
/* line 418, ../scss/main.scss */
.car_run-split .car__wheel-left {
  left: 43px;
}
/* line 421, ../scss/main.scss */
.car_run-split .car__wheel-right {
  right: 87px;
}

/*car save*/
/* line 427, ../scss/main.scss */
.car_save .car__body {
  top: 1px;
  background: url(../img/car-save.png) no-repeat 0 0;
}
/* line 430, ../scss/main.scss */
.car_save .car__body i {
  bottom: -3px;
}
/* line 434, ../scss/main.scss */
.car_save .car__wheel-left {
  left: 45px;
  background: url(../img/wheel-l-s.png) no-repeat 0 0;
}
/* line 438, ../scss/main.scss */
.car_save .car__wheel-right {
  right: 80px;
  background: url(../img/wheel-r-s.png) no-repeat 0 0;
}

@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*screen-out*/
/* line 4, ../scss/inner.scss */
.wrap_inner {
  background: url(../img/bg1.jpg) no-repeat 50% 100% #001856;
}

/* line 7, ../scss/inner.scss */
.feet {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -280px;
  width: 560px;
  height: 278px;
  background: url(../img/feet.png) no-repeat 0 0;
  z-index: 40;
}

/* line 17, ../scss/inner.scss */
.screen {
  position: absolute;
  bottom: 106px;
  left: 50%;
  margin-left: -435px;
  width: 890px;
  height: 620px;
}

/* line 25, ../scss/inner.scss */
.screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 890px;
  height: 620px;
  background: url(../img/screen-out.png) no-repeat 0 0;
  z-index: 10;
}

/* line 34, ../scss/inner.scss */
.screen__speed {
  position: absolute;
  bottom: 95px;
  left: 105px;
  width: 125px;
  height: 125px;
  background: url(../img/speed-s.png) no-repeat 0 0;
  z-index: 10;
}
/* line 42, ../scss/inner.scss */
.screen__speed i {
  position: absolute;
  top: 8px;
  left: 60px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -981px no-repeat;
  width: 4px;
  height: 54px;
}

/* line 49, ../scss/inner.scss */
.screen__road {
  position: absolute;
  left: 65px;
  right: 78px;
  bottom: 65px;
  height: 145px;
  background: url(../img/road-s.jpg);
}

/* line 57, ../scss/inner.scss */
.screen__curb {
  position: absolute;
  left: 65px;
  right: 78px;
  bottom: 210px;
  height: 52px;
  background: url(../img/curb-s.png);
}

/* line 65, ../scss/inner.scss */
.screen__car {
  position: absolute;
  bottom: 155px;
  left: 280px;
  width: 325px;
  height: 80px;
  background: url(../img/car-s.png) no-repeat 0 0;
  z-index: 20;
}
/* line 73, ../scss/inner.scss */
.screen__car span {
  position: absolute;
  bottom: 4px;
  width: 52px;
  height: 52px;
  background: url(../img/wheel-s.png) no-repeat 0 0;
}

/* line 81, ../scss/inner.scss */
.screen__wheel-l {
  left: 26px;
}

/* line 82, ../scss/inner.scss */
.screen__wheel-r {
  right: 51px;
}

/* line 83, ../scss/inner.scss */
.data-bg {
  position: absolute;
  top: 55px;
  left: 70px;
  width: 240px;
  height: 170px;
  background: url(../img/screen-courner.png) no-repeat 0 0;
}
@media only screen and (max-width: 1200px) {
  /* line 83, ../scss/inner.scss */
  .data-bg {
    top: 175px;
  }
}

/* line 94, ../scss/inner.scss */
.data {
  position: absolute;
  top: 55px;
  left: 70px;
  width: 210px;
  height: 150px;
  padding: 20px 0 0 30px;
  z-index: 20;
}
@media only screen and (max-width: 1200px) {
  /* line 94, ../scss/inner.scss */
  .data {
    top: 175px;
  }
}
/* line 105, ../scss/inner.scss */
.data li {
  margin-bottom: 2px;
}
/* line 108, ../scss/inner.scss */
.data a {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}

/* line 114, ../scss/inner.scss */
.data__name {
  margin-bottom: 5px;
  font-size: 19px;
  color: #6ab0ff;
}

/* line 119, ../scss/inner.scss */
.data__result {
  color: #fff;
}
/* line 121, ../scss/inner.scss */
.data__result b {
  margin-right: 5px;
  font-size: 14px;
}
/* line 125, ../scss/inner.scss */
.data__result span {
  font-size: 10px;
}

/* line 129, ../scss/inner.scss */
.data__place {
  font-size: 14px;
  color: #fff;
}
/* line 132, ../scss/inner.scss */
.data__place span {
  margin-right: 5px;
}

/* line 136, ../scss/inner.scss */
.data__map {
  position: relative;
  margin-top: 15px;
  width: 170px;
  height: 32px;
  background: url(../img/map.png) no-repeat 0 0;
}

/* line 143, ../scss/inner.scss */
.data__road {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 150px;
  height: 20px;
  background: url(../img/road.png) no-repeat 0 0;
  overflow: hidden;
}
/* line 151, ../scss/inner.scss */
.data__road i {
  position: absolute;
  top: 4px;
  left: 64px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -1072px no-repeat;
  width: 18px;
  height: 15px;
}

/*codes*/
/* line 159, ../scss/inner.scss */
.codes {
  position: absolute;
  bottom: 310px;
  left: 50%;
  width: 104px;
  padding: 20px 20px 15px 20px;
  margin-left: -560px;
  background: #375996;
  color: #fff;
  z-index: 20;
}

/* line 170, ../scss/inner.scss */
.codes__top {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #5d78aa;
}
/* line 173, ../scss/inner.scss */
.codes__top span {
  display: block;
  margin-bottom: 5px;
  font-size: 11px;
}
/* line 178, ../scss/inner.scss */
.codes__top b {
  font-size: 12px;
  color: #f2242e;
}
/* line 182, ../scss/inner.scss */
.codes__top strong {
  font-size: 12px;
  color: #81c1ff;
}

/* line 187, ../scss/inner.scss */
.codes__history {
  position: relative;
  padding: 11px 0 8px 22px;
}
/* line 190, ../scss/inner.scss */
.codes__history a {
  color: #fff;
  line-height: 1.3;
}
/* line 194, ../scss/inner.scss */
.codes__history i {
  position: absolute;
  top: 13px;
  left: 1px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -1097px no-repeat;
  width: 16px;
  height: 18px;
}

/* line 201, ../scss/inner.scss */
.codes__scroll {
  width: 112px;
  height: 122px;
  overflow: auto;
}
/* line 205, ../scss/inner.scss */
.codes__scroll ul {
  width: 90px;
  padding-left: 4px;
}
/* line 209, ../scss/inner.scss */
.codes__scroll li {
  padding-bottom: 15px;
}
/* line 212, ../scss/inner.scss */
.codes__scroll b {
  font-size: 11px;
  color: #f2242e;
}
/* line 216, ../scss/inner.scss */
.codes__scroll span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 221, ../scss/inner.scss */
.codes__scroll b, .codes__scroll span {
  display: block;
  margin-bottom: 2px;
}
/* line 226, ../scss/inner.scss */
.codes__scroll .jspTrack {
  width: 3px;
  right: -4px;
  background: #103067;
  position: relative;
}
/* line 233, ../scss/inner.scss */
.codes__scroll .jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: -4px;
  cursor: pointer;
  background: url('../img/icons-s003f6a6d5e.png') 0 -1125px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 242, ../scss/inner.scss */
.codes__scroll .jspVerticalBar {
  width: 11px;
}

/*photo-group*/
/* line 247, ../scss/inner.scss */
.photo-group {
  position: absolute;
  bottom: 115px;
  left: 50%;
  margin-left: -560px;
  background: url('../img/icons-s003f6a6d5e.png') 0 0 no-repeat;
  width: 150px;
  height: 175px;
}

/*rate*/
/* line 255, ../scss/inner.scss */
.rate {
  position: absolute;
  right: 50%;
  bottom: 250px;
  width: 155px;
  padding: 20px 15px 30px 15px;
  margin-right: -600px;
  background: #375996;
}
/* line 263, ../scss/inner.scss */
.rate .h1 {
  margin-bottom: 10px;
}
/* line 266, ../scss/inner.scss */
.rate ul {
  margin-bottom: 15px;
}
/* line 269, ../scss/inner.scss */
.rate li {
  height: 22px;
  border-top: 1px solid #5372b1;
  line-height: 22px;
  overflow: hidden;
  color: #fff;
}
/* line 275, ../scss/inner.scss */
.rate li span {
  float: left;
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7cbaff;
}
/* line 283, ../scss/inner.scss */
.rate li b {
  float: right;
  font-weight: normal;
}

/* line 289, ../scss/inner.scss */
.rate__result-title {
  margin-bottom: 7px;
  font-size: 11px;
  color: #e73355;
  font-weight: bold;
  text-align: center;
}

/* line 296, ../scss/inner.scss */
.rate__result {
  margin: 0 -15px 15px -15px;
  height: 29px;
  line-height: 29px;
  background: #60779f;
  text-align: center;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
}
/* line 305, ../scss/inner.scss */
.rate__result a {
  margin-left: 5px;
  color: #fff;
}
/* line 309, ../scss/inner.scss */
.rate__result span {
  margin-left: 5px;
  color: #173f7a;
}

/* line 314, ../scss/inner.scss */
.rate__search {
  padding-left: 12px;
  margin-right: -20px;
  overflow: hidden;
}
/* line 318, ../scss/inner.scss */
.rate__search .h2 {
  margin-bottom: 5px;
}
/* line 321, ../scss/inner.scss */
.rate__search input {
  float: left;
}

/* line 325, ../scss/inner.scss */
.rate__search-txt {
  width: 114px;
  height: 21px;
  margin-right: 5px;
  padding-left: 5px;
  line-height: 21px;
  border-left: 1px solid #545454;
  border-top: 1px solid #7f7f7f;
}

/* line 334, ../scss/inner.scss */
.rate__search-btn {
  width: 22px;
  height: 22px;
  border: 2px solid #0c2b7a;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 8px;
  color: #003AB5;
  text-align: center;
  cursor: pointer;
}

/*scroll*/
/* line 347, ../scss/inner.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 352, ../scss/inner.scss */
.jspPane {
  position: absolute;
}

/* line 356, ../scss/inner.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/* line 363, ../scss/inner.scss */
.jspCap {
  display: none;
}

/* line 367, ../scss/inner.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

/* line 374, ../scss/inner.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 379, ../scss/inner.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 383, ../scss/inner.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 387, ../scss/inner.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 395, ../scss/inner.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*popup*/
/* line 4, ../scss/popup.scss */
.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 100;
}

/* line 15, ../scss/popup.scss */
.popup-bg_dark {
  display: none;
  background: rgba(0, 0, 0, 0.65);
  z-index: 160;
}

/* line 20, ../scss/popup.scss */
.popup {
  position: fixed;
  top: 130px;
  left: 50%;
  width: 550px;
  padding: 12px;
  margin-left: -287px;
  background: url(../img/nav-bg.jpg);
  z-index: 150;
}

/* line 30, ../scss/popup.scss */
.popup__inner {
  padding: 30px;
  background: #f5f5f5;
}
/* line 33, ../scss/popup.scss */
.popup__inner p {
  margin-bottom: 10px;
  font-size: 13px;
  color: #4e4e4e;
  line-height: 1.2;
}

/* line 40, ../scss/popup.scss */
.popup__title {
  position: relative;
  height: 80px;
  padding-left: 25px;
  background: #001556;
  font: normal 30px/80px "Conv_Mbr-Kraftwerk-RU", Arial, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
/* line 48, ../scss/popup.scss */
.popup__title button {
  position: absolute;
  top: 6px;
  right: 4px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -645px no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* line 55, ../scss/popup.scss */
.popup__title i {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjUpIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

/* line 64, ../scss/popup.scss */
.popup__fields {
  overflow: hidden;
}
/* line 66, ../scss/popup.scss */
.popup__fields span {
  float: left;
  width: 65px;
  height: 36px;
  padding-left: 5px;
  line-height: 28px;
  font-size: 14px;
  color: #010101;
}
/* line 75, ../scss/popup.scss */
.popup__fields sup {
  margin-left: 3px;
  color: #ff0000;
}
/* line 79, ../scss/popup.scss */
.popup__fields input {
  float: left;
}

/* line 83, ../scss/popup.scss */
.popup__att {
  font-size: 10px;
  color: #8595c6;
}

/* line 87, ../scss/popup.scss */
.input-text {
  width: 254px;
  height: 34px;
  margin-right: 15px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #c7c7c5;
}

/* line 95, ../scss/popup.scss */
.input-submit {
  width: 117px;
  height: 36px;
  background: #fff;
  border: 2px solid #6f96de;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #1147b7;
  cursor: pointer;
}

/* line 107, ../scss/popup.scss */
.input-submit_gray {
  width: 77px;
  color: #868299;
  border: 2px solid #a6a6a6;
}

/* line 114, ../scss/popup.scss */
.popup_friends .popup__fields {
  margin-bottom: 30px;
}

/* line 119, ../scss/popup.scss */
.popup_stop-race .popup__fields, .popup_photo-add .popup__fields {
  margin: 20px 0 0 0;
}
/* line 122, ../scss/popup.scss */
.popup_stop-race .input-submit, .popup_photo-add .input-submit {
  float: right;
  margin-left: 17px;
}

/* line 128, ../scss/popup.scss */
.fuel li {
  margin-top: 30px;
}
/* line 130, ../scss/popup.scss */
.fuel li:first-child {
  margin-top: 0px;
}
/* line 134, ../scss/popup.scss */
.fuel p {
  padding-top: 6px;
  margin: 6px 0 0 0;
  border-top: 1px dashed #b2b2b2;
  font-size: 12px;
  color: #010101;
}

/* line 143, ../scss/popup.scss */
.popup_accel .popup__inner {
  padding: 10px 0 10px 24px;
}

/* line 149, ../scss/popup.scss */
.accel .jspTrack {
  width: 7px;
  right: 5px;
  background: #ddd;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 157, ../scss/popup.scss */
.accel .jspDrag {
  position: relative;
  top: 0;
  left: -2px;
  cursor: pointer;
  background: url('../img/icons-s003f6a6d5e.png') 0 -915px no-repeat;
  width: 11px;
  height: 31px;
}
/* line 165, ../scss/popup.scss */
.accel .jspVerticalBar {
  width: 7px;
}

/* line 169, ../scss/popup.scss */
.accel__table {
  width: 520px;
  height: 335px;
  overflow: auto;
}

/* line 174, ../scss/popup.scss */
.accel__item {
  overflow: hidden;
}
/* line 177, ../scss/popup.scss */
.accel__item:first-child .accel__name, .accel__item:first-child .accel__count, .accel__item:first-child .accel__days {
  border-top: none;
}

/* line 182, ../scss/popup.scss */
.accel__name, .accel__count, .accel__days {
  float: left;
  height: 37px;
  line-height: 37px;
  border-top: 1px dashed #b1b1b1;
}

/* line 188, ../scss/popup.scss */
.accel__name {
  width: 218px;
  border-right: 1px solid #d9d9d9;
  font-size: 14px;
  color: #010101;
}

/* line 194, ../scss/popup.scss */
.accel__count {
  position: relative;
  padding-left: 14px;
  width: 143px;
  border-right: 1px solid #d9d9d9;
  font-size: 12px;
  color: #6f6f72;
}
/* line 201, ../scss/popup.scss */
.accel__count span {
  margin-right: 5px;
  color: #010101;
}
/* line 205, ../scss/popup.scss */
.accel__count i {
  position: absolute;
  top: 11px;
  left: 116px;
}

/* line 211, ../scss/popup.scss */
.accel__full {
  background: url('../img/icons-s003f6a6d5e.png') 0 -1146px no-repeat;
  width: 28px;
  height: 15px;
  z-index: 10;
}

/* line 215, ../scss/popup.scss */
.accel__empty {
  background: url('../img/icons-s003f6a6d5e.png') 0 -1194px no-repeat;
  width: 28px;
  height: 15px;
}

/* line 218, ../scss/popup.scss */
.accel__days {
  width: 100px;
  padding-left: 13px;
  font-size: 12px;
  color: #6f6f72;
}

/* line 224, ../scss/popup.scss */
.accel__top {
  overflow: hidden;
}
/* line 226, ../scss/popup.scss */
.accel__top .accel__name, .accel__top .accel__count, .accel__top .accel__days {
  font-size: 11px;
  color: #656565;
  text-transform: uppercase;
  border-bottom: 1px solid #b8b8b8;
  border-top: none;
}
/* line 233, ../scss/popup.scss */
.accel__top .accel__name, .accel__top .accel__count {
  position: relative;
}
/* line 235, ../scss/popup.scss */
.accel__top .accel__name em, .accel__top .accel__count em {
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 25px;
  background: #f5f5f5;
}

/* line 246, ../scss/popup.scss */
.tasks {
  padding: 70px 0 45px 0;
  background: url(../img/gallery.png) no-repeat 0 0;
}

/* line 250, ../scss/popup.scss */
.tasks__item {
  position: relative;
  float: left;
  margin-right: 90px;
  color: #375996;
}
/* line 255, ../scss/popup.scss */
.tasks__item b {
  position: relative;
  font: normal 20px 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
}
/* line 259, ../scss/popup.scss */
.tasks__item em {
  position: absolute;
  top: -14px;
  right: -26px;
  font: normal 40px 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-style: normal;
}
/* line 266, ../scss/popup.scss */
.tasks__item i {
  display: none;
  position: absolute;
  top: 16px;
  left: 16px;
  background: url('../img/icons-s003f6a6d5e.png') 0 -511px no-repeat;
  width: 59px;
  height: 19px;
}
/* line 273, ../scss/popup.scss */
.tasks__item a {
  display: none;
  position: absolute;
  top: 30px;
  left: -5px;
  width: 100px;
  height: 20px;
  background: #fff;
  border: 2px solid #193569;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #183046;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
/* line 288, ../scss/popup.scss */
.tasks__item span {
  display: none;
  position: absolute;
  top: 28px;
  left: 21px;
}

/* line 296, ../scss/popup.scss */
.tasks__item-done i {
  display: block;
}

/* line 301, ../scss/popup.scss */
.tasks__item-add a {
  display: block;
}

/* line 305, ../scss/popup.scss */
.tasks__item-noact {
  color: #727272;
}
/* line 307, ../scss/popup.scss */
.tasks__item-noact span {
  display: block;
}

/* line 312, ../scss/popup.scss */
.gallery-popup {
  position: fixed;
  top: 130px;
  left: 50%;
  width: 740px;
  margin-left: -370px;
  z-index: 150;
}

/* line 320, ../scss/popup.scss */
.gallery {
  height: 345px;
  overflow: auto;
}
/* line 323, ../scss/popup.scss */
.gallery ul {
  overflow: hidden;
}
/* line 326, ../scss/popup.scss */
.gallery li {
  position: relative;
  float: left;
  width: 152px;
  height: 155px;
  margin: 5px 18px 18px 5px;
  background: url(../img/photo.jpg) no-repeat 0 0;
}
/* line 334, ../scss/popup.scss */
.gallery .gallery__rejected {
  margin: 0 13px 13px 0;
  border: 5px solid #e8023d;
}
/* line 337, ../scss/popup.scss */
.gallery .gallery__rejected span {
  color: #e8023d;
}
/* line 341, ../scss/popup.scss */
.gallery .gallery__approved {
  margin: 0 13px 13px 0;
  border: 5px solid #0d5ea6;
}
/* line 344, ../scss/popup.scss */
.gallery .gallery__approved span {
  color: #0d5ea6;
}
/* line 348, ../scss/popup.scss */
.gallery img {
  position: absolute;
  left: 10px;
}
/* line 352, ../scss/popup.scss */
.gallery span {
  position: absolute;
  top: 124px;
  left: 50px;
  width: 94px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 365, ../scss/popup.scss */
.gallery .jspTrack {
  width: 7px;
  right: 5px;
  background: #ddd;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 373, ../scss/popup.scss */
.gallery .jspDrag {
  position: relative;
  top: 0;
  left: -2px;
  cursor: pointer;
  background: url('../img/icons-s003f6a6d5e.png') 0 -915px no-repeat;
  width: 11px;
  height: 31px;
}
/* line 381, ../scss/popup.scss */
.gallery .jspVerticalBar {
  width: 7px;
}

/* line 385, ../scss/popup.scss */
.gallery__user {
  top: 111px;
  z-index: 10;
}

/* line 389, ../scss/popup.scss */
.gallery__photo {
  top: 11px;
}

/* line 392, ../scss/popup.scss */
.gallery__view {
  margin-top: 20px;
  padding-right: 50px;
  text-align: center;
}
/* line 396, ../scss/popup.scss */
.gallery__view a {
  display: inline-block;
  margin: 0 10px;
  font-size: 11px;
  color: #686868;
}
/* line 401, ../scss/popup.scss */
.gallery__view a.active {
  color: #141414;
  text-decoration: none;
}

/* line 407, ../scss/popup.scss */
.gallery-close {
  position: fixed;
  top: 100px;
  right: 60px;
  width: 116px;
  height: 16px;
  background: url(../img/close.png) no-repeat 0 0;
  cursor: pointer;
  z-index: 150;
}

/* line 418, ../scss/popup.scss */
.popup-photo {
  display: none;
  position: fixed;
  top: 115px;
  left: 50%;
  width: 488px;
  margin-left: -260px;
  padding: 16px 16px 10px 16px;
  background: #fff;
  z-index: 170;
}

/* line 429, ../scss/popup.scss */
.popup-photo__pic {
  margin-bottom: 6px;
}
/* line 431, ../scss/popup.scss */
.popup-photo__pic img {
  display: block;
}

/* line 435, ../scss/popup.scss */
.popup-photo__author {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
}
/* line 439, ../scss/popup.scss */
.popup-photo__author img {
  float: left;
  margin-right: 10px;
}
/* line 443, ../scss/popup.scss */
.popup-photo__author a {
  float: left;
  font-size: 11px;
  color: #141414;
  text-decoration: underline;
  font-weight: bold;
}

/* line 451, ../scss/popup.scss */
.close-photo {
  position: relative;
  float: right;
  padding-right: 25px;
  font: normal 12px/35px "Conv_Mbr-Kraftwerk-RU", Arial, sans-serif;
  color: #054986;
  cursor: pointer;
}
/* line 458, ../scss/popup.scss */
.close-photo i {
  position: absolute;
  top: 7px;
  right: 0;
  background: url('../img/icons-s003f6a6d5e.png') 0 -616px no-repeat;
  width: 19px;
  height: 19px;
}

/* line 466, ../scss/popup.scss */
.map-popup {
  position: fixed;
  top: 65px;
  left: 50%;
  width: 1080px;
  margin-left: -540px;
  z-index: 150;
}

/* line 474, ../scss/popup.scss */
.map {
  position: relative;
  height: 530px;
  margin-bottom: 60px;
  background: url(../img/map-big.png) no-repeat 120px 90px;
}
/* line 479, ../scss/popup.scss */
.map .rate {
  left: 0;
  bottom: 0;
  padding: 20px 15px 0px 15px;
}

/* line 485, ../scss/popup.scss */
.map-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding-top: 50px;
  background: url(../img/map-title.png) no-repeat 0 0;
}

/* line 493, ../scss/popup.scss */
.map-user__name {
  padding-bottom: 15px;
  border-bottom: 1px solid #cdcdcf;
  overflow: hidden;
}
/* line 497, ../scss/popup.scss */
.map-user__name img {
  float: left;
  margin-right: 10px;
  border: 1px solid #a6bace;
}
/* line 502, ../scss/popup.scss */
.map-user__name a {
  display: block;
  padding-top: 4px;
  font-size: 14px;
  color: #375996;
  font-weight: bold;
  line-height: 1.3;
  text-decoration: none;
}
/* line 510, ../scss/popup.scss */
.map-user__name a:hover {
  text-decoration: underline;
}

/* line 515, ../scss/popup.scss */
.map-user__result {
  margin: 10px -50px 0 0;
  overflow: hidden;
}
/* line 518, ../scss/popup.scss */
.map-user__result li {
  float: left;
  width: 110px;
}
/* line 522, ../scss/popup.scss */
.map-user__result b {
  display: block;
  margin-bottom: 2px;
  font-size: 15px;
}

/* line 529, ../scss/popup.scss */
.map-close {
  position: absolute;
  top: 0;
  right: 0;
  background: url('../img/icons-s003f6a6d5e.png') 0 -460px no-repeat;
  width: 102px;
  height: 16px;
  cursor: pointer;
}

/* line 537, ../scss/popup.scss */
.map-info {
  position: absolute;
  left: 215px;
  bottom: 0;
}
/* line 541, ../scss/popup.scss */
.map-info ul {
  margin-bottom: 10px;
}
/* line 543, ../scss/popup.scss */
.map-info ul li {
  margin-bottom: 3px;
}
/* line 546, ../scss/popup.scss */
.map-info ul span {
  display: inline-block;
  margin-right: 10px;
}
/* line 550, ../scss/popup.scss */
.map-info ul b, .map-info ul strong, .map-info ul i {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-style: normal;
}
/* line 556, ../scss/popup.scss */
.map-info ul b {
  font-size: 25px;
  color: red;
}
/* line 560, ../scss/popup.scss */
.map-info ul strong {
  font-size: 20px;
  color: #072150;
}
/* line 564, ../scss/popup.scss */
.map-info ul i {
  font-size: 20px;
  color: red;
}

/* line 570, ../scss/popup.scss */
.txt1 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -310px no-repeat;
  width: 127px;
  height: 15px;
}

/* line 571, ../scss/popup.scss */
.txt2 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -435px no-repeat;
  width: 98px;
  height: 15px;
}

/* line 572, ../scss/popup.scss */
.txt3 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -385px no-repeat;
  width: 88px;
  height: 15px;
}

/* line 573, ../scss/popup.scss */
.txt4 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -335px no-repeat;
  width: 112px;
  height: 15px;
}

/* line 574, ../scss/popup.scss */
.txt5 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -285px no-repeat;
  width: 156px;
  height: 15px;
}

/* line 575, ../scss/popup.scss */
.txt6 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -360px no-repeat;
  width: 98px;
  height: 15px;
}

/* line 576, ../scss/popup.scss */
.txt7 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -709px no-repeat;
  width: 125px;
  height: 15px;
}

/* line 577, ../scss/popup.scss */
.txt8 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -235px no-repeat;
  width: 167px;
  height: 15px;
}

/* line 578, ../scss/popup.scss */
.txt9 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -410px no-repeat;
  width: 101px;
  height: 15px;
}

/* line 579, ../scss/popup.scss */
.txt10 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -210px no-repeat;
  width: 210px;
  height: 15px;
}

/* line 580, ../scss/popup.scss */
.txt11 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -260px no-repeat;
  width: 177px;
  height: 15px;
}

/* line 581, ../scss/popup.scss */
.txt12 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -185px no-repeat;
  width: 211px;
  height: 15px;
}

/* line 582, ../scss/popup.scss */
.txt13 {
  background: url('../img/icons-s003f6a6d5e.png') 0 -486px no-repeat;
  width: 77px;
  height: 15px;
}

/* line 583, ../scss/popup.scss */
.map-form {
  padding: 20px;
  border: 5px solid #072150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 588, ../scss/popup.scss */
.map-form b, .map-form input {
  float: left;
}
/* line 591, ../scss/popup.scss */
.map-form b {
  margin: 3px 10px 0 0;
}
/* line 594, ../scss/popup.scss */
.map-form span {
  display: block;
  padding: 5px 5px 0 0;
  margin-bottom: -10px;
  text-align: right;
  color: #375996;
}

/* line 602, ../scss/popup.scss */
.map-form_tank {
  width: 285px;
}
/* line 604, ../scss/popup.scss */
.map-form_tank b {
  background: url('../img/icons-s003f6a6d5e.png') 0 -709px no-repeat;
  width: 125px;
  height: 15px;
}

/* line 608, ../scss/popup.scss */
.map-form_turbo {
  width: 210px;
}
/* line 610, ../scss/popup.scss */
.map-form_turbo b {
  background: url('../img/icons-s003f6a6d5e.png') 0 -956px no-repeat;
  width: 49px;
  height: 15px;
}

/* line 614, ../scss/popup.scss */
.map-form_search {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 0;
  border: none;
}
/* line 620, ../scss/popup.scss */
.map-form_search b {
  margin: 1px 10px 0 0;
  background: url('../img/icons-s003f6a6d5e.png') 0 -734px no-repeat;
  width: 130px;
  height: 17px;
}

/* line 625, ../scss/popup.scss */
.map-form__code {
  width: 113px;
  height: 21px;
  padding: 0 5px;
  margin-right: 3px;
  background: url(../img/stop-bg.jpg) no-repeat 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  font-style: italic;
  font-size: 12px;
}

/* line 636, ../scss/popup.scss */
.map-form__btn {
  height: 21px;
  width: 21px;
  border: 2px solid #193569;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  font-size: 9px;
  color: #0032ac;
  cursor: pointer;
}

/* line 648, ../scss/popup.scss */
.map-city {
  position: absolute;
  height: 40px;
}

/* line 652, ../scss/popup.scss */
.map-city_start {
  top: 225px;
  left: 250px;
  width: 195px;
  background: url(../img/city2.png) no-repeat 0 0;
}

/* line 658, ../scss/popup.scss */
.map-city_finish {
  top: 430px;
  right: 65px;
  width: 180px;
  background: url(../img/city1.png) no-repeat 0 0;
}

/* line 665, ../scss/popup.scss */
.point-red, .point-blue, .point-dark {
  display: none;
  position: absolute;
}
/* line 668, ../scss/popup.scss */
.point-red i, .point-blue i, .point-dark i {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 1px;
  background: #353535;
}
/* line 675, ../scss/popup.scss */
.point-red span, .point-blue span, .point-dark span {
  position: absolute;
  padding: 2px 0;
  background: rgba(255, 255, 255, 0.83);
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

/* line 684, ../scss/popup.scss */
.point-red {
  background: url('../img/icons-s003f6a6d5e.png') 0 -679px no-repeat;
  width: 20px;
  height: 20px;
}
/* line 686, ../scss/popup.scss */
.point-red i {
  height: 60px;
}
/* line 689, ../scss/popup.scss */
.point-red span {
  top: -80px;
  left: -5px;
  width: 30px;
  color: #000;
}
/* line 695, ../scss/popup.scss */
.point-red b {
  display: block;
  margin-bottom: 2px;
  font-size: 8px;
}
/* line 701, ../scss/popup.scss */
.point-red.point-hor i {
  width: 60px;
}
/* line 704, ../scss/popup.scss */
.point-red.point-hor span {
  left: auto;
  top: auto;
  right: -80px;
}

/* line 712, ../scss/popup.scss */
.point-blue i, .point-dark i {
  height: 37px;
}
/* line 715, ../scss/popup.scss */
.point-blue span, .point-dark span {
  top: -45px;
  left: 0;
  width: 20px;
  color: #375996;
}
/* line 721, ../scss/popup.scss */
.point-blue b, .point-dark b {
  display: none;
}
/* line 725, ../scss/popup.scss */
.point-blue.point-hor i, .point-dark.point-hor i {
  width: 37px;
}
/* line 728, ../scss/popup.scss */
.point-blue.point-hor span, .point-dark.point-hor span {
  top: auto;
  left: auto;
  right: -50px;
}

/* line 735, ../scss/popup.scss */
.point-blue {
  background: url('../img/icons-s003f6a6d5e.png') 0 -791px no-repeat;
  width: 20px;
  height: 20px;
}

/* line 738, ../scss/popup.scss */
.point-dark {
  background: url('../img/icons-s003f6a6d5e.png') 0 -761px no-repeat;
  width: 20px;
  height: 20px;
}

/* line 742, ../scss/popup.scss */
.point-hor i {
  height: 1px;
}

/* line 746, ../scss/popup.scss */
.point-1 {
  top: 198px;
  left: 260px;
}

/* line 747, ../scss/popup.scss */
.point-2 {
  top: 189px;
  left: 284px;
}

/* line 748, ../scss/popup.scss */
.point-3 {
  top: 182px;
  left: 308px;
}

/* line 749, ../scss/popup.scss */
.point-4 {
  top: 174px;
  left: 330px;
}

/* line 750, ../scss/popup.scss */
.point-5 {
  top: 166px;
  left: 353px;
}

/* line 751, ../scss/popup.scss */
.point-6 {
  top: 160px;
  left: 372px;
}

/* line 752, ../scss/popup.scss */
.point-7 {
  top: 158px;
  left: 395px;
}

/* line 753, ../scss/popup.scss */
.point-8 {
  top: 166px;
  left: 411px;
}

/* line 754, ../scss/popup.scss */
.point-9 {
  top: 174px;
  left: 430px;
}

/* line 755, ../scss/popup.scss */
.point-10 {
  top: 166px;
  left: 448px;
}

/* line 756, ../scss/popup.scss */
.point-11 {
  top: 159px;
  left: 468px;
}

/* line 757, ../scss/popup.scss */
.point-12 {
  top: 151px;
  left: 489px;
}

/* line 758, ../scss/popup.scss */
.point-13 {
  top: 150px;
  left: 510px;
}

/* line 759, ../scss/popup.scss */
.point-14 {
  top: 163px;
  left: 528px;
}

/* line 760, ../scss/popup.scss */
.point-15 {
  top: 175px;
  left: 544px;
}

/* line 761, ../scss/popup.scss */
.point-16 {
  top: 188px;
  left: 561px;
}

/* line 762, ../scss/popup.scss */
.point-17 {
  top: 195px;
  left: 586px;
}

/* line 763, ../scss/popup.scss */
.point-18 {
  top: 195px;
  left: 610px;
}

/* line 764, ../scss/popup.scss */
.point-19 {
  top: 193px;
  left: 638px;
}

/* line 765, ../scss/popup.scss */
.point-20 {
  top: 188px;
  left: 662px;
}

/* line 766, ../scss/popup.scss */
.point-21 {
  top: 182px;
  left: 686px;
}

/* line 767, ../scss/popup.scss */
.point-22 {
  top: 192px;
  left: 708px;
}

/* line 768, ../scss/popup.scss */
.point-23 {
  top: 206px;
  left: 725px;
}

/* line 769, ../scss/popup.scss */
.point-24 {
  top: 204px;
  left: 747px;
}

/* line 770, ../scss/popup.scss */
.point-25 {
  top: 198px;
  left: 768px;
}

/* line 771, ../scss/popup.scss */
.point-26 {
  top: 218px;
  left: 773px;
}

/* line 772, ../scss/popup.scss */
.point-27 {
  top: 240px;
  left: 775px;
}

/* line 773, ../scss/popup.scss */
.point-28 {
  top: 258px;
  left: 788px;
}

/* line 774, ../scss/popup.scss */
.point-29 {
  top: 271px;
  left: 808px;
}

/* line 775, ../scss/popup.scss */
.point-30 {
  top: 296px;
  left: 807px;
}

/* line 776, ../scss/popup.scss */
.point-31 {
  top: 318px;
  left: 808px;
}

/* line 777, ../scss/popup.scss */
.point-32 {
  top: 338px;
  left: 820px;
}

/* line 778, ../scss/popup.scss */
.point-33 {
  top: 355px;
  left: 833px;
}

/* line 779, ../scss/popup.scss */
.point-34 {
  top: 373px;
  left: 829px;
}

/* line 780, ../scss/popup.scss */
.point-35 {
  top: 390px;
  left: 821px;
}

/* line 782, ../scss/popup.scss */
.results {
  position: absolute;
  top: 85px;
  right: -40px;
  width: 180px;
  height: 100px;
  padding: 10px;
  background: #fff;
}

/* line 791, ../scss/popup.scss */
.results__list {
  height: 100px;
  overflow: auto;
}
/* line 794, ../scss/popup.scss */
.results__list a {
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
/* line 801, ../scss/popup.scss */
.results__list a:hover {
  color: red;
}
/* line 803, ../scss/popup.scss */
.results__list a:hover span {
  text-decoration: none;
}
/* line 808, ../scss/popup.scss */
.results__list i {
  margin-right: 5px;
  font-style: normal;
}
/* line 812, ../scss/popup.scss */
.results__list span {
  display: inline-block;
  width: 108px;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 821, ../scss/popup.scss */
.results__list .jspTrack {
  width: 3px;
  right: -4px;
  background: #103067;
  position: relative;
}
/* line 828, ../scss/popup.scss */
.results__list .jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: -4px;
  cursor: pointer;
  background: url('../img/icons-s003f6a6d5e.png') 0 -1125px no-repeat;
  width: 11px;
  height: 11px;
}
/* line 837, ../scss/popup.scss */
.results__list .jspVerticalBar {
  width: 11px;
}

/* line 2, ../scss/ie.scss */
.ie8 .wrap {
  height: 100% !important;
  height: 768px;
}
