@charset "IBM866";
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*resets*/
/* line 4, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../scss/common.scss */
body {
  font-family: Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 9px;
  line-height: 1;
}

/* line 13, ../scss/common.scss */
a img, fieldset {
  border: none;
}

/* line 16, ../scss/common.scss */
li {
  list-style: none;
}

/* line 19, ../scss/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 23, ../scss/common.scss */
.h1 {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 18px;
  color: #fff;
}

/* line 28, ../scss/common.scss */
.h2 {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

/* line 33, ../scss/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/*general styles*/
/* line 40, ../scss/common.scss */
.container {
  position: relative;
  width: 996px;
  margin: 0 auto;
}

/* line 45, ../scss/common.scss */
.wrap {
  overflow: hidden;
  min-width: 996px;
  background: url(../img/bg-1.jpg) no-repeat 50% 0 #001856;
}

/*nav*/
/* line 51, ../scss/common.scss */
.nav {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -180px;
  padding: 12px 14px;
  border: 2px solid #5c89b5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: url(../img/nav-bg.jpg) no-repeat 0 0;
}
/* line 60, ../scss/common.scss */
.nav li {
  float: left;
}
/* line 63, ../scss/common.scss */
.nav a {
  font-size: 10px;
  color: #fff;
}
/* line 66, ../scss/common.scss */
.nav a:hover {
  color: #fffc1b;
}
/* line 70, ../scss/common.scss */
.nav span {
  margin: 0 15px;
  color: #fff;
}

/*footer*/
/* line 76, ../scss/common.scss */
.footer {
  position: relative;
  width: 100%;
  height: 100px;
  background: #001856;
  border-top: 1px solid #000;
  z-index: 50;
}
/* line 83, ../scss/common.scss */
.footer ul {
  margin-left: 118px;
  height: 20px;
  line-height: 20px;
}
/* line 88, ../scss/common.scss */
.footer li {
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}
/* line 94, ../scss/common.scss */
.footer a {
  color: #fff;
}
/* line 97, ../scss/common.scss */
.footer span {
  margin: 0 5px;
}

/* line 101, ../scss/common.scss */
.footer__title {
  border-bottom: 3px solid #d2d2d2;
  background: #fff;
  text-align: center;
}

@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*layouts*/
@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*main*/
/* line 4, ../scss/main.scss */
.main {
  position: relative;
  height: 542px;
  z-index: 30;
}

/*paper*/
/* line 10, ../scss/main.scss */
.paper {
  position: absolute;
  top: -70px;
  left: -190px;
  width: 395px;
  height: 285px;
  background: url(../img/paper.png) no-repeat 0 0;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: 20;
}
/* line 23, ../scss/main.scss */
.paper a {
  position: absolute;
  right: 180px;
  bottom: 20px;
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 12px;
  color: #ed1c24;
}

/* line 32, ../scss/main.scss */
.paper__map {
  position: absolute;
  top: 206px;
  left: 121px;
  width: 200px;
  height: 30px;
  overflow: hidden;
}

/* line 40, ../scss/main.scss */
.paper__way {
  position: absolute;
  top: 0;
  left: 5px;
  width: 190px;
  height: 30px;
  background: url(../img/way.png) no-repeat 0 0;
  z-index: 5;
}

/* line 49, ../scss/main.scss */
.paper__racer {
  position: absolute;
  top: 12px;
  left: 80px;
  background: url('../img/icons-s872b03ebd8.png') 0 -419px no-repeat;
  width: 23px;
  height: 17px;
  z-index: 10;
}

/*tank*/
/* line 57, ../scss/main.scss */
.tank {
  position: absolute;
  top: 160px;
  right: -60px;
  width: 98px;
  height: 410px;
  background: url(../img/tank.png) no-repeat 0 0;
}

/* line 65, ../scss/main.scss */
.tank__code {
  position: absolute;
  bottom: 19px;
  left: 17px;
  color: #000;
}
/* line 70, ../scss/main.scss */
.tank__code li {
  line-height: 1.3;
}
/* line 73, ../scss/main.scss */
.tank__code b {
  font-size: 12px;
  color: #ff0000;
}
/* line 78, ../scss/main.scss */
.tank__code .tank__code-last b {
  color: #6ab0ff;
}

/* line 83, ../scss/main.scss */
.tank__circle {
  position: absolute;
  right: 20px;
  bottom: 18px;
  font-size: 14px;
  color: #ff0000;
  font-weight: bold;
}

/* line 91, ../scss/main.scss */
.tank__boost {
  position: absolute;
  bottom: -65px;
  right: 7px;
  color: #fff;
  text-align: right;
}
/* line 97, ../scss/main.scss */
.tank__boost b {
  font-size: 28px;
}
/* line 100, ../scss/main.scss */
.tank__boost span {
  position: relative;
  padding-left: 16px;
  text-decoration: underline;
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  color: #fff;
}
/* line 107, ../scss/main.scss */
.tank__boost i {
  position: absolute;
  top: 13px;
  left: 4px;
  background: url('../img/icons-s872b03ebd8.png') 0 -520px no-repeat;
  width: 7px;
  height: 13px;
}
/* line 113, ../scss/main.scss */
.tank__boost a {
  color: #fff;
}
/* line 116, ../scss/main.scss */
.tank__boost p {
  line-height: 1.3;
}

/* line 120, ../scss/main.scss */
.tank__full, .tank__use {
  position: absolute;
  bottom: 86px;
  right: 15px;
  width: 65px;
  height: 314px;
}

/* line 127, ../scss/main.scss */
.tank__full {
  background: url(../img/tank-full.png) no-repeat 0 100%;
}

/* line 130, ../scss/main.scss */
.tank__use {
  background: url(../img/tank-use.png) no-repeat 0 100%;
}

/* line 133, ../scss/main.scss */
.tank-fill, .boost {
  position: absolute;
  left: 50%;
  width: 140px;
  margin-left: -70px;
}
/* line 138, ../scss/main.scss */
.tank-fill input, .boost input {
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  text-align: center;
}
/* line 144, ../scss/main.scss */
.tank-fill .tank-fill__code, .tank-fill .boost__code, .boost .tank-fill__code, .boost .boost__code {
  left: 21px;
  width: 74px;
  height: 19px;
  line-height: 19px;
  font-size: 9px;
  color: #abbee7;
}
/* line 152, ../scss/main.scss */
.tank-fill .tank-fill__btn, .tank-fill .boost__btn, .boost .tank-fill__btn, .boost .boost__btn {
  right: 18px;
  width: 19px;
  height: 19px;
  border: 2px solid #6f96de;
  color: #003ab5;
  font-size: 7px;
  cursor: pointer;
}

/* line 162, ../scss/main.scss */
.tank-fill {
  top: 370px;
  height: 75px;
  background: url(../img/tank-fill.png) no-repeat 0 0;
}
/* line 166, ../scss/main.scss */
.tank-fill input {
  top: 32px;
}

/* line 170, ../scss/main.scss */
.boost {
  top: 245px;
  height: 85px;
  background: url(../img/boost.png) no-repeat 0 0;
  z-index: 20;
}
/* line 175, ../scss/main.scss */
.boost input {
  top: 42px;
}

/*road*/
/* line 180, ../scss/main.scss */
.road {
  position: relative;
}
/* line 182, ../scss/main.scss */
.road .container {
  position: relative;
  height: 256px;
  z-index: 10;
}

/* line 188, ../scss/main.scss */
.curb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: url(../img/curb.jpg);
}

/* line 196, ../scss/main.scss */
.asphalt {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 176px;
  background: url(../img/road.jpg);
}

/* line 204, ../scss/main.scss */
.task {
  position: absolute;
  bottom: 0;
  right: -135px;
  width: 480px;
  height: 90px;
  background: url(../img/task.png) no-repeat 0 0;
}
/* line 211, ../scss/main.scss */
.task a {
  position: absolute;
  width: 90px;
  height: 105px;
  padding: 5px;
  background: #fff;
  border: 1px solid #787878;
  text-decoration: none;
  color: #3a3a3a;
}
/* line 221, ../scss/main.scss */
.task img {
  margin-bottom: 5px;
  border: 1px solid #787878;
}
/* line 225, ../scss/main.scss */
.task span {
  color: #203698;
}
/* line 228, ../scss/main.scss */
.task .task__1 {
  bottom: -2px;
  left: 170px;
}
/* line 232, ../scss/main.scss */
.task .task__2 {
  bottom: -4px;
  left: 265px;
}
/* line 236, ../scss/main.scss */
.task .task__3 {
  bottom: -6px;
  left: 360px;
}

/* line 241, ../scss/main.scss */
.task_inner {
  bottom: 75px;
  right: 80px;
  width: 299px;
  height: 67px;
  background: url(../img/task-s.png) no-repeat 0 0;
  font-size: 5px;
  z-index: 10;
}
/* line 249, ../scss/main.scss */
.task_inner a {
  position: absolute;
  width: 57px;
  height: 68px;
  padding: 4px;
  border: 1px solid #787878;
  text-decoration: none;
  color: #3a3a3a;
}
/* line 258, ../scss/main.scss */
.task_inner img {
  margin-bottom: 5px;
  border: 1px solid #787878;
}
/* line 262, ../scss/main.scss */
.task_inner span {
  color: #203698;
}
/* line 265, ../scss/main.scss */
.task_inner .task__1 {
  bottom: 20px;
  left: 100px;
}
/* line 269, ../scss/main.scss */
.task_inner .task__2 {
  bottom: 15px;
  left: 160px;
}
/* line 273, ../scss/main.scss */
.task_inner .task__3 {
  bottom: 10px;
  left: 220px;
}

/*stop*/
/* line 279, ../scss/main.scss */
.stop {
  position: absolute;
  top: 60px;
  right: 50px;
  background: url(../img/stop-bg.jpg) no-repeat 0 0;
  border: 2px solid #5c89b5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 12px 58px 12px 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px #2a3d60;
}
/* line 292, ../scss/main.scss */
.stop i {
  position: absolute;
  top: 5px;
  right: 10px;
  background: url('../img/icons-s872b03ebd8.png') 0 -219px no-repeat;
  width: 34px;
  height: 32px;
}

/*speed*/
/* line 300, ../scss/main.scss */
.speed {
  position: absolute;
  left: -22px;
  bottom: -10px;
  width: 189px;
  height: 60px;
  padding-top: 190px;
  background: url(../img/speed.png) no-repeat 0 0;
}
/* line 308, ../scss/main.scss */
.speed li {
  overflow: hidden;
}
/* line 311, ../scss/main.scss */
.speed b {
  float: left;
  width: 75px;
  margin-right: 10px;
  font-size: 14px;
  text-align: right;
}

/* line 319, ../scss/main.scss */
.speed__result {
  padding-top: 4px;
}
/* line 321, ../scss/main.scss */
.speed__result b {
  padding-top: 2px;
  color: #6ab0ff;
}
/* line 325, ../scss/main.scss */
.speed__result span {
  font-size: 10px;
  color: #fff;
}

/* line 330, ../scss/main.scss */
.speed__point {
  padding-top: 5px;
}
/* line 332, ../scss/main.scss */
.speed__point b {
  color: #6ab0ff;
}
/* line 335, ../scss/main.scss */
.speed__point span {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

/* line 341, ../scss/main.scss */
.arr {
  position: absolute;
  top: 13px;
  left: 90px;
  background: url('../img/icons-s872b03ebd8.png') 0 -261px no-repeat;
  width: 6px;
  height: 84px;
}

/*cars default*/
/* line 348, ../scss/main.scss */
.car {
  position: absolute;
  top: 37px;
  left: 255px;
  width: 505px;
  height: 135px;
}

/* line 355, ../scss/main.scss */
.car__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 505px;
  height: 115px;
  z-index: 10;
}
/* line 362, ../scss/main.scss */
.car__body i {
  position: absolute;
  bottom: -5px;
  width: 79px;
  height: 79px;
}

/* line 369, ../scss/main.scss */
.car__shadow {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 505px;
  height: 40px;
  background: url(../img/car-shadow.png) no-repeat 0 0;
  z-index: 5;
}

/*car start*/
/* line 380, ../scss/main.scss */
.car_start .car__body {
  background: url(../img/car-new.png) no-repeat 0 0;
}
/* line 383, ../scss/main.scss */
.car_start .car__wheel-left {
  left: 43px;
  background: url(../img/wheel-new.png) no-repeat 0 0;
}
/* line 387, ../scss/main.scss */
.car_start .car__wheel-right {
  right: 82px;
  background: url(../img/wheel-new.png) no-repeat 0 0;
}

/*car run*/
/* line 394, ../scss/main.scss */
.car_run .car__body {
  top: 1px;
  background: url(../img/car-run.png) no-repeat 0 0;
}
/* line 397, ../scss/main.scss */
.car_run .car__body i {
  bottom: -4px;
}
/* line 401, ../scss/main.scss */
.car_run .car__wheel-left {
  left: 45px;
  background: url(../img/wheel-l-r.png) no-repeat 0 0;
}
/* line 405, ../scss/main.scss */
.car_run .car__wheel-right {
  right: 86px;
  background: url(../img/wheel-r-r.png) no-repeat 0 0;
}

/*car split*/
/* line 412, ../scss/main.scss */
.car_run-split .car__wheel-left {
  left: 43px;
}
/* line 415, ../scss/main.scss */
.car_run-split .car__wheel-right {
  right: 87px;
}

/*car save*/
/* line 421, ../scss/main.scss */
.car_save .car__body {
  top: 1px;
  background: url(../img/car-save.png) no-repeat 0 0;
}
/* line 424, ../scss/main.scss */
.car_save .car__body i {
  bottom: -3px;
}
/* line 428, ../scss/main.scss */
.car_save .car__wheel-left {
  left: 45px;
  background: url(../img/wheel-l-s.png) no-repeat 0 0;
}
/* line 432, ../scss/main.scss */
.car_save .car__wheel-right {
  right: 80px;
  background: url(../img/wheel-r-s.png) no-repeat 0 0;
}

@font-face {
  font-family: 'Conv_Mbr-Kraftwerk-RU';
  src: url("fonts/Mbr-Kraftwerk-RU.eot");
  src: local("☺"), url("../fonts/Mbr-Kraftwerk-RU.woff") format("woff"), url("../fonts/Mbr-Kraftwerk-RU.ttf") format("truetype"), url("../fonts/Mbr-Kraftwerk-RU.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*screen-out*/
/* line 4, ../scss/inner.scss */
.wrap_inner {
  position: relative;
  background: url(../img/bg1.jpg) no-repeat 50% -10px #001856;
}
/* line 7, ../scss/inner.scss */
.wrap_inner .footer {
  position: absolute;
  bottom: 0;
}

/* line 12, ../scss/inner.scss */
.paper-inner {
  position: absolute;
  top: -10;
  left: -120px;
  width: 360px;
  height: 340px;
  background: url(../img/paper-inner.png) no-repeat 0 0;
  z-index: 10;
}

/* line 21, ../scss/inner.scss */
.container_screen {
  height: 910px;
}

/* line 24, ../scss/inner.scss */
.feet {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -280px;
  width: 560px;
  height: 323px;
  background: url(../img/feet.png) no-repeat 0 0;
  z-index: 40;
}

/* line 34, ../scss/inner.scss */
.screen {
  position: absolute;
  top: 106px;
  left: 65px;
  width: 890px;
  height: 620px;
}

/* line 41, ../scss/inner.scss */
.screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 890px;
  height: 620px;
  background: url(../img/screen-out.png) no-repeat 0 0;
  z-index: 10;
}

/* line 50, ../scss/inner.scss */
.screen__speed {
  position: absolute;
  bottom: 95px;
  left: 105px;
  width: 125px;
  height: 125px;
  background: url(../img/speed-s.png) no-repeat 0 0;
  z-index: 10;
}
/* line 58, ../scss/inner.scss */
.screen__speed i {
  position: absolute;
  top: 8px;
  left: 60px;
  background: url('../img/icons-s872b03ebd8.png') 0 -355px no-repeat;
  width: 4px;
  height: 54px;
}

/* line 65, ../scss/inner.scss */
.screen__road {
  position: absolute;
  left: 65px;
  right: 78px;
  bottom: 65px;
  height: 145px;
  background: url(../img/road-s.jpg);
}

/* line 73, ../scss/inner.scss */
.screen__curb {
  position: absolute;
  left: 65px;
  right: 78px;
  bottom: 210px;
  height: 52px;
  background: url(../img/curb-s.png);
}

/* line 81, ../scss/inner.scss */
.screen__car {
  position: absolute;
  bottom: 155px;
  left: 280px;
  width: 325px;
  height: 80px;
  background: url(../img/car-s.png) no-repeat 0 0;
  z-index: 20;
}
/* line 89, ../scss/inner.scss */
.screen__car span {
  position: absolute;
  bottom: 4px;
  width: 52px;
  height: 52px;
  background: url(../img/wheel-s.png) no-repeat 0 0;
}

/* line 97, ../scss/inner.scss */
.screen__wheel-l {
  left: 26px;
}

/* line 98, ../scss/inner.scss */
.screen__wheel-r {
  right: 51px;
}

/* line 99, ../scss/inner.scss */
.data-bg {
  position: absolute;
  top: 55px;
  left: 70px;
  width: 240px;
  height: 170px;
  background: url(../img/screen-courner.png) no-repeat 0 0;
}

/* line 107, ../scss/inner.scss */
.data {
  position: absolute;
  top: 55px;
  left: 70px;
  width: 210px;
  height: 150px;
  padding: 20px 0 0 30px;
  z-index: 20;
}
/* line 115, ../scss/inner.scss */
.data li {
  margin-bottom: 2px;
}
/* line 118, ../scss/inner.scss */
.data a {
  font-family: 'Conv_Mbr-Kraftwerk-RU', Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}

/* line 124, ../scss/inner.scss */
.data__name {
  margin-bottom: 5px;
  font-size: 19px;
  color: #6ab0ff;
}

/* line 129, ../scss/inner.scss */
.data__result {
  color: #fff;
}
/* line 131, ../scss/inner.scss */
.data__result b {
  margin-right: 5px;
  font-size: 14px;
}
/* line 135, ../scss/inner.scss */
.data__result span {
  font-size: 10px;
}

/* line 139, ../scss/inner.scss */
.data__place {
  font-size: 14px;
  color: #fff;
}
/* line 142, ../scss/inner.scss */
.data__place span {
  margin-right: 5px;
}

/* line 146, ../scss/inner.scss */
.data__map {
  position: relative;
  margin-top: 15px;
  width: 170px;
  height: 32px;
  background: url(../img/map.png) no-repeat 0 0;
}

/* line 153, ../scss/inner.scss */
.data__road {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 150px;
  height: 20px;
  background: url(../img/road.png) no-repeat 0 0;
  overflow: hidden;
}
/* line 161, ../scss/inner.scss */
.data__road i {
  position: absolute;
  top: 4px;
  left: 64px;
  background: url('../img/icons-s872b03ebd8.png') 0 -446px no-repeat;
  width: 18px;
  height: 15px;
}

/*codes*/
/* line 169, ../scss/inner.scss */
.codes {
  position: absolute;
  top: 235px;
  left: -70px;
  width: 104px;
  padding: 20px 20px 15px 20px;
  background: #375996;
  color: #fff;
}

/* line 178, ../scss/inner.scss */
.codes__top {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #5d78aa;
}
/* line 181, ../scss/inner.scss */
.codes__top span {
  display: block;
  margin-bottom: 5px;
  font-size: 11px;
}
/* line 186, ../scss/inner.scss */
.codes__top b {
  font-size: 12px;
  color: #f2242e;
}
/* line 190, ../scss/inner.scss */
.codes__top strong {
  font-size: 12px;
  color: #81c1ff;
}

/* line 195, ../scss/inner.scss */
.codes__history {
  position: relative;
  padding: 11px 0 8px 22px;
}
/* line 198, ../scss/inner.scss */
.codes__history a {
  color: #fff;
  line-height: 1.3;
}
/* line 202, ../scss/inner.scss */
.codes__history i {
  position: absolute;
  top: 13px;
  left: 1px;
  background: url('../img/icons-s872b03ebd8.png') 0 -471px no-repeat;
  width: 16px;
  height: 18px;
}

/* line 209, ../scss/inner.scss */
.codes__scroll {
  width: 112px;
  height: 122px;
  overflow: auto;
}
/* line 213, ../scss/inner.scss */
.codes__scroll ul {
  width: 90px;
  padding-left: 4px;
}
/* line 217, ../scss/inner.scss */
.codes__scroll li {
  padding-bottom: 15px;
}
/* line 220, ../scss/inner.scss */
.codes__scroll b {
  font-size: 11px;
  color: #f2242e;
}
/* line 224, ../scss/inner.scss */
.codes__scroll span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 229, ../scss/inner.scss */
.codes__scroll b, .codes__scroll span {
  display: block;
  margin-bottom: 2px;
}

/*photo-group*/
/* line 235, ../scss/inner.scss */
.photo-group {
  position: absolute;
  top: 500px;
  left: -70px;
  background: url('../img/icons-s872b03ebd8.png') 0 0 no-repeat;
  width: 150px;
  height: 175px;
}

/*rate*/
/* line 242, ../scss/inner.scss */
.rate {
  position: absolute;
  right: -90px;
  bottom: 280px;
  width: 155px;
  padding: 20px 15px 30px 15px;
  background: #375996;
}
/* line 249, ../scss/inner.scss */
.rate .h1 {
  margin-bottom: 10px;
}
/* line 252, ../scss/inner.scss */
.rate ul {
  margin-bottom: 15px;
}
/* line 255, ../scss/inner.scss */
.rate li {
  height: 22px;
  border-top: 1px solid #5372b1;
  line-height: 22px;
  overflow: hidden;
  color: #fff;
}
/* line 261, ../scss/inner.scss */
.rate li span {
  float: left;
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7cbaff;
}
/* line 269, ../scss/inner.scss */
.rate li b {
  float: right;
  font-weight: normal;
}

/* line 275, ../scss/inner.scss */
.rate__result-title {
  margin-bottom: 7px;
  font-size: 11px;
  color: #e73355;
  font-weight: bold;
  text-align: center;
}

/* line 282, ../scss/inner.scss */
.rate__result {
  margin: 0 -15px 15px -15px;
  height: 29px;
  line-height: 29px;
  background: #60779f;
  text-align: center;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
}
/* line 291, ../scss/inner.scss */
.rate__result a {
  margin-left: 5px;
  color: #fff;
}
/* line 295, ../scss/inner.scss */
.rate__result span {
  margin-left: 5px;
  color: #173f7a;
}

/* line 300, ../scss/inner.scss */
.rate__search {
  padding-left: 12px;
  margin-right: -20px;
  overflow: hidden;
}
/* line 304, ../scss/inner.scss */
.rate__search .h2 {
  margin-bottom: 5px;
}
/* line 307, ../scss/inner.scss */
.rate__search input {
  float: left;
}

/* line 311, ../scss/inner.scss */
.rate__search-txt {
  width: 114px;
  height: 21px;
  margin-right: 5px;
  padding-left: 5px;
  line-height: 21px;
  border-left: 1px solid #545454;
  border-top: 1px solid #7f7f7f;
}

/* line 320, ../scss/inner.scss */
.rate__search-btn {
  width: 22px;
  height: 22px;
  border: 2px solid #0c2b7a;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 8px;
  color: #003AB5;
  text-align: center;
  cursor: pointer;
}

/*scroll*/
/* line 333, ../scss/inner.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 338, ../scss/inner.scss */
.jspPane {
  position: absolute;
}

/* line 342, ../scss/inner.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 100%;
}

/* line 350, ../scss/inner.scss */
.jspCap {
  display: none;
}

/* line 354, ../scss/inner.scss */
.jspTrack {
  width: 3px;
  right: -4px;
  background: #103067;
  position: relative;
}

/* line 361, ../scss/inner.scss */
.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: -4px;
  cursor: pointer;
  background: url('../img/icons-s872b03ebd8.png') 0 -499px no-repeat;
  width: 11px;
  height: 11px;
}

/* line 370, ../scss/inner.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

/* line 377, ../scss/inner.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 382, ../scss/inner.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 386, ../scss/inner.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 390, ../scss/inner.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 398, ../scss/inner.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
