$experimental-support-for-svg: true;
$icons-btn-repeat: repeat-x !default;
$icons: sprite-map("icons/*.png", $spacing: 10px,$btn-repeat: repeat-x);
@mixin image-size($path) {
	width: image-width($path);
	height: image-height($path);
}
@mixin sized-sprite($map, $sprite) {
	background: sprite($map, $sprite) no-repeat;
	@include image-size(sprite-file($map, $sprite));
}
$blue: #001856;
@font-face {
	font-family: 'Conv_Mbr-Kraftwerk-RU';
	src: url('fonts/Mbr-Kraftwerk-RU.eot');
	src: local('☺'), 
	url('../fonts/Mbr-Kraftwerk-RU.woff') format('woff'), 
	url('../fonts/Mbr-Kraftwerk-RU.ttf') format('truetype'), 
	url('../fonts/Mbr-Kraftwerk-RU.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@mixin respond-to($media) {
  @if $media == pda {
    @media only screen and (max-width: 1200px) { @content; }
  }
}

